@value breakpoints: 'all';
@value containerWidth, containerPadding from breakpoints;

.SectionContainer {
  lost-column: 1;
  margin: 0 auto;
  padding: containerPadding;
  padding-top: 3rem;
  background-color: white;
}

.innerContainer {
  max-width: containerWidth;
  margin: 0 auto;
}

.title {
  text-align: center;
}
