@value breakpoints: 'all';
@value containerWidth, containerPadding from breakpoints;

.container {
  lost-center: containerWidth flex;
  padding: 2rem;
}

.content {
  lost-center: 960px;
}

.title {
  lost-column: 1;
  margin: 2rem;
  text-align: center;
}

.SectionContainer{
  lost-column: 1;
  padding: 2rem 1rem;
  background-color: white;
  text-align: center;
}
