@value breakpoints: 'all';
@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding, babyPadding, mamaPadding, papaPadding, babyHeader, mamaHeader, papaHeader from breakpoints;

/* Component Container Styles */
.listSection {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: babyPadding;
  float: left;
  clear: both;
  @media bp-mama-bear {
    padding: mamaPadding;
  }
  @media bp-papa-bear {
    padding: papaPadding;
  }
}
.container {
  lost-center: containerWidth;
  margin: 0 auto;
  padding: 0 containerPadding;
  float: none;
}

/* Header Styles */
.header {
  display: block;
  width: 100%;
  margin: 0 auto babyHeader auto;
  padding: 0 0;
  float: left;
  position: relative;
  text-align: center;
  @media bp-mama-bear {
    margin: 0 auto mamaHeader auto;
  }
  @media bp-papa-bear {
    margin: 0 auto papaHeader auto;
  }
}
.h3 {
  margin-bottom: 0;
  text-align: inherit;
}

/* List Types */
.ul {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  column-count: 1!important;
  column-gap: 0px!important;
  li {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: .25rem;
  }
}
.ol {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  li {
    list-style-type: inherit;
    list-style-position: outside;
    padding-left: .25rem;
  }
}

/* li widths */
.itemWidth {
  margin: 0 0;
  padding: 0 0;
}
.full {
  composes: itemWidth;
  lost-column: 1;
}
.half {
  composes: itemWidth;
  lost-column: 1;
  @media bp-mama-bear {
    lost-column: 1/2;
  }
}
.quarter {
  composes: itemWidth;
  lost-column: 1;
  @media bp-mama-bear {
    lost-column: 1/2;
  }
  @media bp-papa-bear {
    lost-column: 1/4;
  }
}
.third {
  composes: itemWidth;
  lost-column: 1;
  @media bp-mama-bear {
    lost-column: 1/2;
  }
  @media bp-papa-bear {
    lost-column: 1/3;
  }
}
