@value breakpoints: 'all';
@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding from breakpoints;

.popupStore {
  dt {
    float: left;
    margin-right: 3rem;
  }

  dd {
    font-family: "MontserratLight";
    margin-left: 7rem;
  }
}
