@value breakpoints: 'all';
@value bp-mama-bear, bp-papa-bear from all;

.container {
  lost-column: 1;
  height: auto;
  min-height: 10rem;
  padding: 0 0 1rem 0;
  text-align: center;
  margin-bottom: 2rem;
  float: left;
  display: inline-block;
  @media bp-mama-bear {
    lost-column: 1/2 center;
  }
  @media bp-papa-bear {
    lost-column: 1/3 center;
  }
  h2 {
    position: relative;
    text-align: center;

    &::after {
      display: block;
      margin: 0 auto;
      margin-top: 1.5rem;
      content: '';
      width: 25%;
      border-top: 1px solid #333333;
    }
  }
}

.iconWrap {
  lost-column: 1 center;
  padding: 1em;
}

.icon {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.text {
  lost-column: 1;
  margin: 0 0 1.5rem 0;
}

/* Button True/False */
.hasButton {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  @media bp-papa-bear {
    display: flex;
  }
}
.buttonTrue {
  composes: hasButton;
  display: block;
  margin-top: babyHeader;
}
.buttonFalse {
  composes: hasButton;
  display: none;
}
