@value breakpoints: 'all';
@value bp-mama-bear, bp-papa-bear from all;

.container {
  lost-column: 1;
  height: auto;
  min-height: 10rem;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  float: left;
  display: inline-block;

  @media bp-papa-bear {
    lost-column: 1/2 center;
  }

  h2 {
    position: relative;
    text-align: center;

    &::after {
      display: block;
      margin: 0 auto;
      margin-top: 1.5rem;
      content: '';
      width: 25%;
      border-top: 1px solid #333333;
    }
  }
}

.iconWrap {
  lost-column: 1 center;
  padding: 1em;
}

.icon {
  lost-column: 1;
  height: 150px;
  object-fit: contain;
}

.text {
  lost-column: 1;
  margin: 0 0 1.5rem 0;
  margin-right: 0;
}

/* Button True/False */
.buttonWrapper {
  display: block;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: babyHeader;
}
