@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, Mon, MonBold, Playfair, PlayBlack, white, darkGray, lightGray, medGray, almostBlack, ThrivinRock from 'all';

.footer {
  background-color: ThrivinRock;
  margin: 0 auto;
  height: auto;
}

.footerTop {
  padding: 3.75rem 2.5rem;
  text-align: center;
}

.footerBottom {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 00;
  float: left;
  clear: both;
  background: almostBlack;
  @media bp-papa-bear {
    height: 10rem;
    padding: 3.75rem 0;
  }
}

.footerNav {
  lost-column: 1;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: center;
}

.container {
  padding: 0;
  margin: 0 auto;
  float: none;
}

/* ===== COLUMNS ===== */

.footerQuote {
  display: block;
  text-align: center;
  margin-right: 0;
  margin-bottom: 1.5rem;
  height: auto;

  p {
    display: inline-block;
    max-width: 40rem;
    color: white;
    margin-bottom: 1.5rem;
    font-family: Playfair;
    font-size: 1rem;
    letter-spacing: .03rem;
    line-height: 1.8rem;

    &::before, &::after {
      display: inline;
      margin: 0 0;
      padding: 0 0;
      font-family: PlayBlack;
      font-size: 1.4rem;
      line-height: .75rem;
      color: white;
    }

    &::before {
      content: '“';
      margin-right: .125em;
    }

    &::after {
      content: '”';
      margin-left: .125em;
    }

    &.quote {
      @media bp-papa-bear {
        font-size: 1.25rem;
      }
    }
  }

}

.linksColumn {
  height: auto;
  margin-right: 0;
  margin-bottom: 3.750rem;
}

.social {
  height: auto;
}

.footerLinkStyle {
  font-family: Mon;
  font-size: 1rem;
  text-align: center;
  color: rgba(238, 238, 238, 0.42);
  line-height: 2.708;

  @media bp-papa-bear {
    font-size: .75rem;
    display: inline-block;
  }
}

/* ===== TYPOGRAPHY ===== */

.cite {
  composes: footerLinkStyle;
  font-style: normal;
  text-transform: uppercase;
  display: block;
  margin-bottom: 2.5em;
}

.heading {
  color: white;
  font-size: .75rem;
  font-family: MonBold;
  text-transform: uppercase;
}

/* ===== LINKS ===== */

.copyright {
  composes: footerLinkStyle;
  display: block;
  lost-column: 1;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: center;
}

.footerLinks {
  composes: footerLinkStyle;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media bp-papa-bear {
    lost-center: 3/4;
    float: none;
    display: inline-block;
    clear: both;
    position: relative;
    text-align: center;
  }

  li {
    display: block;
    border-bottom: 1px solid rgba(238, 238, 238, 0.2);

    a {
      padding-left: 1.5rem;
      line-height: 4rem;
      display: block;
      color: inherit;

      &::after {
        content: '〉';
        font-size: 1.6rem;
        display: inline-block;
        float: right;
        padding-right: 1.5rem;
      }

      &:hover {
        color: white;
      }
    }

    @media bp-papa-bear {
      border: none;
      display: inline-block;

      &::after {
        content: '|';
        display: inline-block;
        color: rgba(238, 238, 238, 0.2);
        margin: 0 6px;
        font-size: .625rem;
      }

      &:last-child::after {
        display: none;
      }

      a {
        line-height: inherit;
        padding-left: 0;
        display: inline-block;

        &::after {
          display: none;
        }
      }
    }
  }
}

/* ===== SOCIAL ===== */

.socialIcons {
  color: lightGray;
  margin-top: 1.25rem;
}

.iconWrap {
  display: inline-block;
  width: 2.125rem;
  height: 2.125rem;
  margin: 0 .625rem;
  padding: 0 0;
  float: none;
  position: relative;
  border-radius: 1.0625rem;
  background: rgba(136,136,136,1);
  transition: all ease-in-out 150ms;
  &:first-child {
    background: rgba(136,136,136,1);
  }
  &:nth-child(2) {
    background: rgba(180,180,180,1);
  }
  &:nth-child(3) {
    background: rgba(105,105,105,1);
  }
  &:nth-child(4) {
    background: rgba(40,40,40,1);
  }
  &:hover {
    background: almostBlack;
  }
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: .5625rem 0 0 0;
  padding: 0 0;
  float: none;
  text-align: center;
  fill: white;
}

.facebookIcon {
  fill: darkGray;
  width: auto;
  height: 1.25rem;
}

/* ===== EXTRAS ===== */

.logo {
  width: 8rem;
  margin: 0 auto 4rem auto;
  padding: 0 0;
}
