@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, Mon, MonBold, Playfair, PlayBlack, white, darkGray, lightGray, medGray, almostBlack, ThrivinRock from 'all';

.footer {
  background-color: ThrivinRock;
  margin: 0 auto;
  height: auto;
}

.footerTop {
  padding: 3.75rem 2.5rem;
  text-align: center;
}

.footerBottom {
  background: almostBlack;
  height: 10rem;
}

.container {
  padding: 0;
  margin: 0 auto;
  float: none;
}

/* ===== COLUMNS ===== */

.footerQuote {
  display: block;
  text-align: center;
  margin-right: 0;
  margin-bottom: 3.750rem;
  height: auto;

  p {
    display: inline-block;
    max-width: 400px;
    color: white;
    margin-bottom: .625rem;
    font-family: Playfair;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 1px;

    &::before, &::after {
      font-family: PlayBlack;
      color: white;
      display: inline-block;
      margin: 0;
    }

    &::before {
      content: '“';
      font-size: 3.125rem;
      margin-right: 1rem;
      margin-left: -2rem;
    }

    &::after {
      content: '”';
      font-size: 1.8rem;
      line-height: 1rem;
      margin-left: .2rem;
    }

    &.quote {
      @media bp-papa-bear {
        font-size: 1.25rem;
      }
    }
  }

}

.linksColumn {
  height: auto;
  margin-right: 0;
  margin-bottom: 3.750rem;
}

.social {
  height: auto;
}

/* ===== TYPOGRAPHY ===== */

cite {
  color: darkGray;
  font-size: .75rem;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  display: inherit;
}

.heading {
  color: white;
  font-size: .75rem;
  font-family: MonBold;
  text-transform: uppercase;
}

/* ===== LINKS ===== */

.footerLinkStyle {
  font-family: Mon;
  font-size: .75rem;
  color: rgba(238, 238, 238, 0.42);
  line-height: 2.708;
  display: inline-block;
}

.copyright {
  composes: footerLinkStyle;
  lost-column: 1/4;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footerLinks {
  composes: footerLinkStyle;
  height: auto;
}

.list {
  lost-column: 3/4;
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  li {

    &::after {
      content: '|';
      display: inline-block;
      color: rgba(238, 238, 238, 0.2);
      margin: 0 6px;
      font-size: .625rem;
    }

    &:last-child::after {
      content: '';
    }

    a {
      color: inherit;
      &:hover {
        color: white;
      }
    }
  }
}

/* ===== SOCIAL ===== */

.socialIcons {
  color: lightGray;
  margin-top: 1.25rem;

  span {
    padding-right: 1.25rem;
  }

    &:last-child {
      padding-right: 0;
    }
}

.icon {
  margin-right: 1.25rem;
  display: inline;
  fill: darkGray;
  width: 1.25rem;
  height: auto;

  &:hover {
    fill: white;
  }
}

.facebookIcon {
  fill: darkGray;
  width: auto;
  height: 1.25rem;
}

/* ===== EXTRAS ===== */

.logo {
  width: 8rem;
}
