/*
  This is the stylesheet for: FeaturedProduct
*/
@value containerWidth, containerPadding, bp-mama-bear, bp-papa-bear, ThriveTeal, ThriveBlurple, backgroundGray, ThriveGray, Mon, MonLight from 'all';

.container {
  background-color: backgroundGray;
}

.content {
  lost-center: containerWidth;
  padding: 4rem containerPadding;
}

.header {
  font-family: Mon;
  color: ThriveGray;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.product {
  background-color: backgroundGray;
  margin-bottom: 0.5rem;
  lost-column: 1;

  @media bp-mama-bear {
    lost-column: 1/2 3 12px;
    margin-bottom: 1rem;
  }
  @media bp-papa-bear {
    lost-column: 1/4 0;
  }
}

.productTitle {
  color: #111;
  &:hover {
    color: #999;
  }
}

.imageWrap {
  position: relative;
  lost-column: 1;

  &::after {
    content: 'VIEW';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 20px 8px;
    margin-top: -19px;
    margin-left: -38px;
    color: white;
    cursor: pointer;
    font-family: Mon;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: ThriveBlurple;
    opacity: 0;
    transition: all 150ms ease-in;
  }

  .image {
    width: 100%;
    opacity: 1;
    object-fit: cover;
    transition: all 150ms ease-in;
  }

  &:hover {
    .image {
      opacity: 0.6;
      cursor: pointer;
    }

    &::after {
      opacity: 1;
    }
  }
}

.description {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 1em;
  color: black;

  h4 {
    font-family: Mon;
    font-size: 1.1em;
  }

  p {
    font-family: MonLight;
    width: 100%;
    margin-top: 0
  }
}
