/*
  This is the stylesheet for: FeaturedProduct
*/

.container {
  lost-center: 1200px;
  height: 500px;
  width: 100%;
  background-color: white;
}

.content {
  background-color: gray;
}

.product {
  background-color: teal;
  lost-column: 1/4;
}
