/*
  This is the stylesheet for: HalfTextOverlay
*/
@value bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding, babyMargin, mamaMargin, papaMargin, babyHeader, lightGray, ThriveTeal, ThriveBlue, ThriveDarkBlue, ThriveRoyalBlue, ThriveBlurple, ThriveViolet, Mon, MonBold, Playfair from 'all';

.gridWrap {
  lost-center: containerWidth;
  margin: babyMargin auto 0 auto;
  padding: containerPadding;
  float: none;
  clear: both;
  position: relative;
  @media bp-mama-bear {
    margin: mamaMargin auto 0 auto;
  }
  @media bp-papa-bear {
    margin: papaMargin auto 0 auto;
  }
}

.halfOverlay {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  position: relative;
}


.imageWrap {
  display: block;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  float: left;
  text-align: center;
  @media bp-papa-bear {
    z-index: -100;
  }
}
.image {
  display: block;
  width: 100%;
  min-width: 100%;
  margin: 0 0;
  padding: 0 0;
  float: left;
}

.postContent {
  width: 100%;
  height: auto;
  float: left;
  overflow: hidden;
  background: ThriveBlue;
  @media bp-papa-bear {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 83, 212, .8);
  }
  > i {
    display: block;
    width: auto;
    height: auto;
    margin: 0 0;
    float: left;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
  }
}
.postContentRight {
  width: 100%;
  height: auto;
  float: left;
  overflow: hidden;
  background: ThriveViolet;
  opacity: 0.9;
  @media bp-papa-bear {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  > i {
    display: block;
    width: auto;
    height: auto;
    margin: 0 0;
    float: left;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
  }
}
.contentWrap {
  display: block;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  float: left;
  z-index: 50;
  @media bp-papa-bear {
    lost-flex-container: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.content {
  width: 100%;
  padding: containerPadding;
  @media bp-papa-bear {
    padding: 0 10%;
  }
  p {
    font-family: Mon;
    text-align: left;
    color: white;
    @media bp-papa-bear {
      font-family: MonBold;
      color: rgba(255, 255, 255, .7);
      transition: color 100ms ease-in-out;
    }
  }
  &:hover {
    p {
      color: rgba(255, 255, 255, 1);
    }
  }
}
.header {
  width: 100%;
  margin: 0 auto 1.635rem;
  padding: 0 0;
  text-align: left;
  color: white;
}

/* Button True/False */
.hasButton {
  width: 100%;
  float: left;
}
.buttonTrue {
  composes: hasButton;
  display: block;
  margin-top: babyHeader;
}
.buttonFalse {
  composes: hasButton;
  display: none;
}
