@value breakpoints: 'all';
@value containerWidth, containerPadding from breakpoints;

.container {
  lost-center: containerWidth flex;
  padding: 2rem 1rem 0rem 1rem;
}

.row {
  lost-center: containerWidth;
}
