@value breakpoints: 'all';
@value containerWidth, containerPadding from breakpoints;

.container {
  lost-center: containerWidth flex;
  padding: 2rem 1rem;
}

.content {
  lost-center: 1160px;
}

.title {
  lost-column: 1;
  margin-bottom: 1rem;
}
.SectionContainer{
  lost-center: containerWidth;
  padding: 2rem 1rem 1rem 1rem;
  background-color: white;
}

.biosRow{
	  margin-top: 10vh;
}

.bioModal {
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-y: scroll;
  border-radius: 4px;

  
  .modalImageWrapper {
    width: 100%;
    background-image: url('/Team/images/level-striped-bg.png'); 
    height: 60%;
  }

  .modalImage {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    margin: 0 auto;   
    height: 100%; 
    width: 100%;

  }

  .modalText {
    height: auto;
    bottom: 0;
    margin-top:0;
    padding: 50px;
    padding-bottom: 0;
    color: #333;
    width: 100%;
  }

  h3, h4 {
    margin: 0;
    padding-bottom: 4px;
  }
}