@value all: 'all';
@value bp-mama-bear, bp-papa-bear, bp-grand-bear, babyPadding, mamaPadding, papaPadding, containerWidth, containerPadding from all;
@value bodyCopy, ThriveTeal, ThriveBlue, lightGray, darkGray, gradientCardThrive from all;
@value Mon, MonLight, MonBold, MonBlack, Playfair, PlayBlack from all;

.base {
  label {
    color: ThriveTeal;
  }

  input {
    border-color: ThriveTeal;
    color: darkGray;
    &::placeholder { color: darkGray }
  }
}

.teal {
  composes: base;
}

.error {
  color: darkGray;
}

.warning {
  color: orange;
}

/* Thrive Inputs Theme*/
.thriveInput {
  position: relative;
  .label {
    display: inline-block;
    width: auto;
    margin: 0 auto .75rem;
    padding: 0 0;
    float: left;
    font-family: MonLight;
    font-size: .88rem;
    line-height: 100%;
    color: bodyCopy;
    text-align: left;
    @media bp-mama-bear {
      font-size: 1rem;
    }
  }
  .error {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: .25rem 0;
    float: left;
    clear: both;
    position: relative;
    font-family: MonLight;
    font-size: .88rem;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    color: red;
  }
}

.radio {
  background: white;
  border: 2px solid lightGray;
  border-radius: .125rem;
  font-family: Mon;
  display: inline-block;
  margin-right: 0.3em;
  margin-bottom: 3px;
  padding: 0 4px 0 4px;
  &:hover {
    background-color: ThriveTeal;
    border: 2px solid ThriveTeal;
    color: white;
  }
  .error {
    display: inline-block;
    font-family: MonLight;
    font-size: .88rem;
    line-height: 100%;
    text-transform: uppercase;
    color: red;
  }
}
.radioHighlight {
  composes: radio;
  background-color: ThriveTeal;
  border: 2px solid ThriveTeal;
  color: white;
}
.radioInput {
  appearance: none;
}

.check {
  appearance: none;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin: -.125rem .625rem 0 0;
  padding: 0 0;
  float: left;
  position: relative;
  font-family: Mon;
  text-align: left;
  background: white;
  border: 2px solid lightGray;
  border-radius: .125rem;
  outline: none;
  transition: 150ms ease-in-out;
  @media bp-mama-bear {
    margin: -.125rem .625rem 0 0;
  }
  &:checked {
    background: ThriveTeal;
    border-color: ThriveTeal;
    &::after {
      content: '';
      display: inline-block;
      width: .5rem;
      height: .5rem;
      margin: 0 0;
      padding: 0 0;
      float: none;
      position: absolute;
      top: .25rem;
      left: .25rem;
      background: white;
      border-radius: .25rem;
    }
  }
}

.inputWrap {
  display: block;
  width: 100%;
  margin: 0 auto 1.5rem auto;
  padding: 0 0;
  float: left;
  position: relative;
  border: none;
}

.text {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 1.25rem;
  float: left;
  font-family: Mon;
  color: bodyCopy;
  text-align: left;
  background: white;
  border: 2px solid lightGray;
  border-radius: .125rem;
  outline: none;
  transition: border 150ms ease-in-out;
  &:focus {
    border-color: ThriveTeal;
  }
}

.planMadeText {
  display: inline-block;
  width: 120px;
  margin: 0 auto;
  padding: 2px 5px;
  margin-right: 5px;
  margin-bottom: 3px;
  font-family: Mon;
  text-align: left;
  background: white;
  border: 2px solid lightGray;
  border-radius: .125rem;
  outline: none;
  transition: border 150ms ease-in-out;
  &:focus {
    border-color: ThriveTeal;
  }
}

.formBlockWrap {
  display: inline-block;
  .error {
    display: inline-block;
    font-family: MonLight;
    font-size: .88rem;
    line-height: 100%;
    text-transform: uppercase;
    color: red;
  }
}
.select {
  appearance: none;
  background: transparent;
  border: 2px solid lightGray;
  border-radius: .125rem;
  width: 90px;
  padding-left: 5px;
  margin-bottom: 3px;
  font-family: Mon;
  margin-right: 5px;
}
