.SectionContainer{
	lost-center: containerWidth flex;
	background-color: white;
	padding: 2rem 1rem;


}
.title{
  text-align: center;
  text-decoration: underline;

}
.content{
	width:100%;
	text-align: center;
}