@value bp-mama-bear, bp-papa-bear, containerWidth, containerPadding, babyPadding, mamaPadding, papaPadding, babyHeader, mamaHeader, papaHeader, bodyCopy, ThriveBlue, TheFader, lightGray from 'all';

.fullWidthText {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: babyPadding;
  float: left;
  position: relative;
  text-align: center;
  @media bp-mama-bear {
    padding: mamaPadding;
  }
  @media bp-papa-bear {
    padding: papaPadding;
  }
}
.default {
  composes: fullWidthText;
  background: transparent;
  * {
    color: bodyCopy;
  }
}
.white {
  composes: fullWidthText;
  background: white;
  * {
    color: bodyCopy;
  }
}
.gray {
  composes: fullWidthText;
  background: #f0f0f0;
  * {
    color: bodyCopy;
  }
}
.blue {
  composes: fullWidthText;
  background: ThriveBlue;
  color: white;
  height: 100%;
}
.white {
  composes: fullWidthText;
  background: white;
  * {
    color: bodyCopy;
  }
}
.fade {
  composes: fullWidthText;
  background: TheFader;
  * {
    color: bodyCopy;
  }
}
.tagalong {
  composes: fullWidthText;
  padding-top: 0;
  background: white;
  * {
    color: bodyCopy;
  }
}

.container {
  lost-center: containerWidth;
  margin: 0 auto;
  padding: containerPadding;
  float: none;
}
.textLeft {
  composes: container;
  text-align: left;
}
.textCenter {
  composes: container;
  text-align: center;
}
.textRight {
  composes: container;
  text-align: right;
}

.columns {
  width: 100%;
  text-align: inherit;
  @media bp-mama-bear {
    lost-center: 9;
  }
  @media bp-papa-bear {
    lost-center: 7;
  }
}
.defaultWidth {
  composes: columns;
}
.fullWidth {
  lost-column: 1;
}
.twoThirdsWidth {
  lost-column: 1;
  @media bp-mama-bear {
    width: 66%;
    margin: 0 17%;
  }
}
.halfWidth {
  lost-column: 1;
  @media bp-mama-bear {
    width: 50%;
    margin: 0 25%;
  }
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 5vh;
  position: relative;
  text-align: inherit;
  @media bp-mama-bear {
    margin: 0 auto mamaHeader auto;
  }
  @media bp-papa-bear {
    margin: 0 auto papaHeader auto;
  }
  h2 {
    display: inline-block;
    width: 100%;
    padding: 0 0;
    float: left;
    text-align: inherit;
  }
}
.headerTrue {
  composes: header;
}
.headerFalse {
  display: none;
}

.dividerFalse {
  display: none;
}

.dividerTrue {
  display: inline-block;
  width: 2rem;
  padding: 1rem 0;
  border-top: 1px solid black;
}

.sectionContent {
  lost-utility: clearfix;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
  text-align: center;
  p {
    display: block;
    width: 100%;
    padding: 0 0;
    float: left;
    position: relative;
    text-align: inherit;
  }
}
