@value bp-mama-bear, bp-papa-bear, containerWidth, containerPadding, babyPadding, mamaPadding, papaPadding, babyHeader, mamaHeader, papaHeader from 'all';

.container {
  lost-utility: clearfix;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: babyPadding;
  float: left;
  background: white;
  @media bp-mama-bear {
    padding: mamaPadding;
  }
  @media bp-papa-bear {
    padding: papapadding;
  }
}

.pageContainer {
  lost-center: containerWidth;
  margin: 0 auto;
  padding: containerPadding;
  float: none;
}

h1 {
  padding-top: 3rem;
  clear: both;
  text-align: center !important;
}
