@value bp-mama-bear, bp-papa-bear, bp-grand-bear from all;
@value PlanMadeDarkGray, PlanMadeTeal from all;

.container {
  background: white;
  padding: 100px 10px;
  @media bp-mama-bear {
    padding: 80px 10%;
  }
  @media bp-papa-bear {
    padding: 80px 15%;
  }
}

.header {
  font-family: montserrat;
  color: PlanMadeTeal;
}

.subheader {
  font-family: montserratLight;
  color: PlanMadeDarkGray;
}

.body {
  margin-bottom: 0;
  font-family: PT serif;
  color: PlanMadeDarkGray;
}

.footNote {
  margin-top: 30px;
  font-style: italic;
  font-family: PT serif;
  color: PlanMadeDarkGray;
}

.link {
  border-radius: 10px;
  background: PlanMadeTeal;
  color: white;
  padding: 10px;
  margin-right: 20px;
}
.link2 {
  composes: link;
  background: PlanMadeDarkGray;
}

.iconContainer {
  lost-center: containerWidth;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.icon {
  display: block;
  lost-column: 1;
  margin-bottom: 25px;
  @media bp-mama-bear {
    lost-column: 1/2;
  }
  @media bp-papa-bear {
    lost-column: 1/4;
  }
}
.icon3 {
  display: block;
  lost-column: 1;
  margin-bottom: 25px;
  @media bp-papa-bear {
    lost-column: 1/3;
  }
}
