@value bp-mama-bear, bp-papa-bear, bp-grand-bear from all;
@value PlanMadeDarkGray, PlanMadeTeal, PlanMadeRed from all;

.container {
  background: white;
  padding: 100px 10px;
  @media bp-mama-bear {
    padding: 80px 10%;
  }
  @media bp-papa-bear {
    padding: 80px 15%;
  }
}

.header {
  font-family: montserrat;
  color: PlanMadeTeal;
  margin-bottom: 40px;
}

.subheader {
  font-family: montserratLight;
  color: PlanMadeDarkGray;
  margin-bottom: 40px;
}

.body {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: PT serif;
  color: PlanMadeDarkGray;
}

.bodyHeading {
  font-family: montserratLight;
  color: PlanMadeDarkGray;
}

.footNote {
  margin-top: 30px;
  font-style: italic;
  font-family: PT serif;
  color: PlanMadeDarkGray;
}

.link {
  text-align: center;
  font-family: montserrat;
  border-radius: 4px;
  background: white;
  color: PlanMadeDarkGray;
  border: 1px solid PlanMadeDarkGray;
  padding: 10px;
  &:hover {
    border-color: PlanMadeRed;
    color: PlanMadeRed;
  }
  padding: 10px;
  margin-right: 20px;
}

.iconContainer {
  lost-center: containerWidth;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.icon {
  color: PlanMadeDarkGray;
  display: block;
  lost-column: 1;
  margin-bottom: 35px;
  @media bp-mama-bear {
    lost-column: 1/2;
  }
  @media bp-papa-bear {
    lost-column: 1/4;
  }
  > img {
    margin-bottom: 10px;
  }
}
.icon3 {
  color: PlanMadeDarkGray;
  display: block;
  lost-column: 1;
  margin-bottom: 35px;
  @media bp-papa-bear {
    lost-column: 1/3;
  }
  > img {
    margin-bottom: 10px;
  }
}
