@value bp-mama-bear, bp-papa-bear, bp-grand-bear from "styles/breakpoints";
@value navItem from "styles/fonts.css";
@value white, ThriveGray, ThriveTeal, ThriveBlue from "styles/colors.css";

.siteHeader {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1.25rem 1.25rem;
  float: left;
  position: relative;
  background: rgba(255, 255, 255, 1);
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 200ms cubic-bezier(.04,.39,.94,.53);
  @media bp-papa-bear {
    padding: 0 3rem 0 1.25rem;
    border-bottom: .25rem solid ThriveTeal;
    text-align: center;
    overflow: hidden;
  }
}

.brand {
  display: inline-block;
  width: 76%;
  height: auto;
  margin: 0 12%;
  padding: 0 0;
  float: left;
  position: relative;
  text-align: center;
  z-index: 9999;
  @media bp-papa-bear {
    display: block;
    width: auto;
    height: auto;
    margin: 0 0;
    padding: 1.25rem 0;
    position: relative;
    top: auto;
    left: auto;
  }
}
#linkHome {
  display: inline-block;
  margin: 0 0;
  padding: 1rem 1rem;
}
.thriveLogo {
  width: 7rem;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0;
  float: none;
  z-index: 1200;
  @media bp-papa-bear {
    float: left;
  }
}

.navContainer {
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 1.25rem 1.25rem 1.25rem;
  float: left;
  position: absolute;
  top: 0;
  right: -100%;
  background: rgba(255, 255, 255, .98);
  overflow: hidden;
  transition: all 200ms cubic-bezier(.04,.39,.94,.53);
  @media bp-papa-bear {
    display: block;
    height: auto;
    padding: 0 0;
    top: 2rem;
    right: auto;
    overflow: visible;
    background: none;
  }
}

.mainNav {
  display: block;
  width: 100%;
  height: auto;
  margin: 5rem auto 0 auto;
  padding: 0 0;
  float: left;
  text-align: center;
  @media bp-papa-bear {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.link {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  float: left;
  font-family: navItem;
  font-size: 0.75rem;
  letter-spacing: .01rem;
  text-align: center;
  text-transform: uppercase;
  color: ThriveGray;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  @media bp-papa-bear {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 .75rem;
    padding: .5rem 0;
    float: none;
    background: transparent;
  }
}

.utilityNav {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  text-align: center;
  @media bp-papa-bear {
    width: auto;
    height: auto;
    margin: 0 3rem 0 0;
    float: right;
    position: relative;
    text-align: right;
  }
}

.linkUtility {
  display: inline-block;
  width: 75%;
  height: auto;
  margin: 0 12.5% 1rem 12.5%;
  padding: .25rem 1.25rem;
  float: left;
  clear: both;
  background: transparent;
  border: 1px solid ThriveTeal;
  border-radius: 1.3125rem;
  font-family: navItem;
  font-size: 0.75rem;
  letter-spacing: .01rem;
  text-align: center;
  text-transform: uppercase;
  color: ThriveTeal;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  @media bp-papa-bear {
    display: block;
    width: auto;
    height: auto;
    margin: 0 0 0 .75rem;
    padding: .5rem 0;
    clear: none;
    background: transparent;
    border: none;
    text-align: right;
    text-transform: uppercase;
    color: ThriveGray;
  }
}
.search {
  display: none;
  margin: 0 12.5% 1rem 12.5%;
  padding: .25rem 1.25rem;
  float: left;
  clear: both;
  position: relative;
  transition: all 150ms ease-in-out;
  @media bp-papa-bear {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0 0 .75rem;
    padding: .5rem .5rem;
    clear: none;
    background: transparent;
    border: none;
    text-align: right;
  }
}
.searchIcon {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
}

.search {
  fill: ThriveTeal;
}

.link, .linkUtility {
  cursor: pointer;
  @media bp-papa-bear {
    position: relative;
    &::after {
      content: '';
      display: inline-block;
      width: .44rem;
      height: .44rem;
      margin: 0 auto 0 -.22rem;
      padding: 0 0;
      float: none;
      background: ThriveTeal;
      border-radius: .22rem;
      position: absolute;
      bottom: -3rem;
      left: 50%;
      opacity: .85;
      transition: all 150ms cubic-bezier(.04,.39,.94,.53);
      z-index: 9999;
    }
    &:hover {
      color: ThriveTeal;
      &::after {
        bottom: 0;
      }
    }
  }
}

.menuButton {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 2.375rem 2.375rem 0 0;
  padding: 0 0;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 9999;
  > .button {
    display: block;
    width: 2rem;
    height: 2rem;
    float: left;
  }
  @media bp-papa-bear {
    display: none;
  }
}
.button {
  transition: all 150ms cubic-bezier(.04,.39,.94,.53);
}
.topLine, .middleLine, .bottomLine {
  fill: ThriveTeal;
  opacity: 1;
  transform-origin: center center;
  transition: all 150ms cubic-bezier(.04,.39,.94,.53);
}
.button:hover {
  .topLine {
    transform: translateY(.625rem) rotate(90deg);
  }
  .middleLine {
    opacity: 0;
  }
  .bottomLine {
    transform: translateY(-.625rem);
  }
}

.siteHeaderActive {
  composes: siteHeader;
  height: auto;
  overflow-x: visible;
  overflow-y: visible;
  .brand {
    z-index: 9000;
  }
  .navContainer {
    right: 0;
    z-index: 8000;
  }
  .button {
    transform: rotate(45deg);
    .topLine {
      transform: translateY(.625rem) rotate(90deg);
    }
    .middleLine {
      opacity: 0;
    }
    .bottomLine {
      transform: translateY(-.625rem);
    }
  }
}
