@value bp-mama-bear, bp-papa-bear, bp-grand-bear from all;
@value PlanMadeDarkGray, PlanMadeTeal, PlanMadeRed from all;

.container {
  background: white;
  padding: 100px 10px 0;
  @media bp-mama-bear {
    padding: 80px 10% 0;
  }
  @media bp-papa-bear {
    padding: 80px 15% 0;
  }
}

.city {
  height: 400px;
  text-align: center;
  background: url('./assets/city.jpg') no-repeat;
  background-position: center -2cm;
}

.me {
  height: 500px;
  text-align: center;
  background: url('./assets/professionalProfile.jpg') no-repeat;
  background-position: center 0cm;
  background-size: cover;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
}

.link {
  font-family: montserrat;
  border-radius: 4px;
  background: white;
  color: PlanMadeDarkGray;
  border: 1px solid PlanMadeDarkGray;
  padding: 10px;
  margin-right: 20px;
  &:hover {
    border-color: PlanMadeRed;
    color: PlanMadeRed;
  }
}

.header {
  margin-top: 40px;
  font-family: montserrat;
  color: PlanMadeTeal;
  font-size: 2.2em;
  line-height: 1.1em;
}

.subheader {
  margin-top: 50px;
  font-family: montserratLight;
  color: PlanMadeDarkGray;
}

.iconContainer {
  lost-center: containerWidth;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
}
.icon3 {
  color: PlanMadeTeal;
  display: block;
  lost-column: 1;
  margin-bottom: 25px;
  @media bp-mama-bear {
    lost-column: 1/2;
  }
  @media bp-grand-bear {
    lost-column: 1/3;
  }
}
.imageIcon {
  height: 150px;
}
