@value breakpoints: 'all';
@value bp-mama-bear, bp-grand-bear from breakpoints;

.bio {
  lost-column: 1 flex;
  height: 23.75rem;
  margin-bottom: 1.5rem;
  padding: 0 0;
  z-index: 1;
  cursor: pointer;
  @media bp-mama-bear {
    lost-column: 1/2 flex;
  }
  @media bp-grand-bear {
    lost-column: 1/4 flex;
  }
}
.image {
  lost-flex-container: row;
  width: 22rem;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.text {
  width: 100%;
  z-index: 1;
  padding: 20px;
  color: white;
  align-self: flex-end;
  background: linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,0.4));
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  &:hover {
    text-decoration: none;
  }
 h3 {
   margin-bottom: 2px;
 }
}
