@value breakpoints: 'all';
@value containerWidth, containerPadding from breakpoints;

.container {
  background-color: lightgray;
  text-align: left;
}

.content {
  lost-center: containerWidth containerPadding;
  padding: 4rem 1rem;
}

.button {
  lost-column: 1;
  padding-top: 2rem;
}

.center {
  composes: container;
  text-align: center;
}
