/*
  This is the stylesheet for: PathwayHeader
*/

@value containerWidth, containerPadding, bp-mama-bear, bp-papa-bear from 'all';
@value ThriveBlue, ThriveTeal, gradientPathwayCard, backgroundGray, ThriveGray from 'all';
@value PlayBlack, Playfair, MonLight, Mon from 'all';

.container {
  float: left;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  background: gradientPathwayCard;
}

.content {
  lost-center: containerWidth;
  padding: 4rem containerPadding;
  text-align: center;
  @media bp-mama-bear {
    padding: 6rem containerPadding;
  }
}

.brand {
  display: inline-block;
  width: 30%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
  text-align: center;
  @media bp-mama-bear {
    width: 100%;
    display: block;
    width: 9rem;
    height: auto;
    margin: 0 auto;
  }
}

.thriveLogo {
  width: 100%;
  clear: both;
  height: auto;
  margin: 0 0 0 0;
  padding: 1rem 0;
  float: none;
  @media bp-papa-bear {
    float: left;
    padding: 2rem 0;
  }
}

.header {
  font-family: PlayfairBlack;
  font-size: 2em;
  clear: both;
  padding: 0.75rem;
  margin-bottom: 0;

  @media bp-mama-bear {
    max-width: 40rem;
    line-height: 94%;
    padding: 1rem;
    font-size: 3.25em;
    margin: 0 auto;
  }

  @media bp-papa-bear {
    font-size: 4.5em;
  }
}
