@value bp-mama-bear, bp-papa-bear, bp-grand-bear, PlanMadeTeal, ThriveBlue, lightGray, darkGray, gradientCardThrive from all;


/* Quote Card */
.card {
  border: 2px solid grey;
  border-radius: 0.5rem;
  padding: 1rem;
  &:hover {
    border-color: PlanMadeTeal;
  }
}
.cardHighlight {
  composes: card;
  border-color: PlanMadeTeal;
}

.text {
  text-align: center;
  width: 100%;
}
