/*
  This is the stylesheet for: ProductMicrostep
*/
@value microstepContainerWidth, containerPadding, bp-mama-bear, bp-papa-bear from 'all';
@value backgroundGray, medGray, darkGray, bodyCopy, ThriveBlurple, ThriveTeal, ThriveGray from 'all';
@value PlayBlack, Playfair, MonLight, Mon, MonBold from 'all';

/* Container */
.container {
  lost-center: microstepContainerWidth;
  height: auto;
  background-color: white;
  background-image: url('./assets/msBG.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.content {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 5%;
  padding: 4rem 1rem;
  text-align: center;
  h1 {
    display: block;
    width: 100%;
    margin-top: 0;
    /* set margin-botom in ems so it scales down proportionally */
    margin-bottom: .625em;
    padding: 0 0;
    float: left;
    font-family: PlayfairBlack;
    font-size: 2rem;
    color: inherit;
    text-align: inherit;
    text-transform: capitalize;
    @media bp-mama-bear {
      margin: 0 auto;
      padding: 1rem 1rem;
      font-size: 2.1825rem;
    }
  }
  h3 {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    float: left;
    font-family: Playfair;
    font-size: 1rem;
    font-style: italic;
    color: inherit;
    @media bp-mama-bear {
      max-width: 40rem;
      padding: 1rem;
      font-size: 1.25rem;
      margin: 0 auto;
    }
    @media bp-papa-bear {
      font-size: 1.5rem;
    }
  }
  h4 {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2.14em;
    padding: 0 0;
    font-family: MonBold;
    font-size: 88%;
    line-height: 100%;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #333333;
    & em {
      font-family: Playfair;
      letter-spacing: 0;
      font-style: italic;
      text-transform: lowercase;
    }
  }
  h5 {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem;
    float: left;
    font-family: MonBold;
    font-size: .75rem;
    font-style: normal;
    letter-spacing: .1rem;
    line-height: 100%;
    color: ThriveTeal;
    text-transform: uppercase;
  }
  h6 {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    float: left;
    font-family: Mon;
    font-size: .75rem;
    font-style: normal;
    letter-spacing: .1rem;
    line-height: 100%;
    color: ThriveTeal;
    text-transform: uppercase;
  }
  p {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2em;
    padding-bottom: 0;
    float: left;
    border: none;
    font-family: MonLight;
    font-size: .88em;
    color: darkGray;
    line-height: 133%;
    letter-spacing: 0.0rem;
    text-align: inherit;
    @media bp-mama-bear {
      font-size: 1.125em;
    }
  }
}
.header {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  position: relative;
  text-align: center;
    h1 {
      color: ThriveBlurple;
    }
}

.product {
  lost-flex-container: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
}
.imgCol {
  lost-column: 1;
  text-align: center;
  @media bp-papa-bear {
    lost-column: 2/3 flex;
  }
  > img {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: auto;
    @media bp-papa-bear {
      padding-right: 1.5rem;
    }
  }
}
.contentCol {
  lost-column: 1;
  text-align: center;
  color: medGray;
  @media bp-papa-bear {
    lost-column: 1/3 flex;
    text-align: left;
  }
  .productTitle {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: MonBold;
    font-style: normal;
    line-height: 100%;
    color: inherit;
    text-align: inherit;
  }
  .productPrice {
    margin-top: 1.5em;
    margin-bottom: 0 0;
    padding: 0 0;
    font-family: MonBold;
    font-size: .75rem;
    text-align: inherit;
    color: inherit;
  }
}

.button {
  display: block;
  clear: both;
  margin-top: 2rem;
}
