@value breakpoints: 'all';
@value containerWidth, containerPadding from breakpoints;

.container {
  lost-center: containerWidth flex;
  padding: 2rem 1rem;
}

.content {
  lost-center: 1160px;
}

.title {
  lost-column: 1;
  margin-bottom: 1rem;
  padding-left: 5vh;
}

.SectionContainer{
	lost-column: 1;
	lost-center: containerWidth;
	padding: 2rem 1rem 1rem 1rem;
	background-color: white;

}