@value containerWidth, containerPadding from 'all';
/*
This is the stylesheet for: Journeys
 */

.container {
}

.row {
  lost-center: containerWidth;
}

.microstepContainer {
  margin: 5em;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  div {
    margin-left: auto;
    margin-right: auto;
  }
  margin-bottom: 0;
}

.outerContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem 0;
  padding: 0 0.5rem;
  width: 100%;
}

.buttonWrap {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0 2.5rem 0;
  float: left;
  clear: both;
  background: white;
  text-align: center;
  > a {
    display: inline-block;
  }
}
