@value bp-mama-bear, bp-papa-bear, bp-grand-bear, bp-elder-bear, containerWidth, containerPadding, babyPadding, mamaPadding, papaPadding, babyHeader, mamaHeader, papaHeader from 'all';
@value lightGray, ThriveAltTeal, ThriveViolet from 'all';
@value Mon from 'all';

/* Parent Most Container + BG Color Variants */
.fullBleed {
  display: block;
  lost-column: 1;
  height: auto;
  margin: 0 auto;
  float: left;
  position: relative;
  overflow: hidden;
}

.default {
  composes: fullBleed;
  background: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.altTeal {
  composes: fullBleed;
  background: ThriveAltTeal;
  * {
    color: white;
  }
}

/* Column Container Styles */
.container {
  display: block;
  margin: 0 auto;
  padding: 0;
  float: left;
  position: relative;
  @media bp-papa-bear {
    lost-flex-container: row;
    float: none;
  }
}

/* Column Styling */
.column {
  lost-column: 1;
  position: relative;
  @media bp-papa-bear {
    lost-column: 1/2 flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.imageWrap {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  position: relative;
  text-align: center;
  overflow: hidden;
  @media bp-mama-bear {
    display: flex;
    height: 100%;
    float: none;
  }
}
.imgLink {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: center;
  overflow: hidden;
}
.image {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  @media bp-mama-bear {
    object-fit: cover;
    object-position: center center;
  }
}
.sectionContent {
  lost-column: 1;
  padding: 1rem containerPadding;
  @media bp-grand-bear {
    lost-column: 1 flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  > i {
    display: inline-block;
    float: left;
    clear: both;
  }
  > a {
    float: left;
    clear: both;
  }
}

.sectionText {
  font-size: 1rem;
  font-family: Playfair;
  font-style: normal;
  float: left;
  clear: both;
  @media bp-papa-bear {
    font-size: 1.125rem;
  }
  @media bp-elder-bear {
    font-size: 1.5rem;
  }
}

.header {
  width: 100%;
  margin: 0 auto babyHeader auto;
  padding: 0 0;
  float: left;
  text-align: left;
  @media bp-mama-bear {
    padding-top: 5%;
  }
  @media bp-grand-bear {
    padding-top: 15%;
  }
}

.label {
  width: 100%;
  margin: 2rem 0;
  float: left;
}

/* Button True/False */
.button {
  width: 100%;
  float: left;
  padding-bottom: 1.5rem;
  margin-top: babyHeader;
}
