@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, babyMargin from 'all';

.fullscreenBanner {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
  background: white;
  text-align: center;
  @media bp-mama-bear {
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
  }
}
.fullHeight {
  composes: fullscreenBanner;
}
.halfHeight {
  composes: fullscreenBanner;
  @media bp-mama-bear {
    height: 50vh;
  }
}
.quarterHeight {
  composes: fullscreenBanner;
  @media bp-mama-bear {
    height: 25vh;
  }
}
.thirdHeight {
  composes: fullscreenBanner;
  @media bp-mama-bear {
    height: 33.33vh;
  }
}
.twoThirdsHeight {
  composes: fullscreenBanner;
  @media bp-mama-bear {
    height: 66.66vh;
  }
}

.bannerImageWrap {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto 1.56rem;
  float: left;
  position: relative;
  text-align: center;
  @media bp-mama-bear {
    z-index: -100;
  }

  @media bp-mama-bear {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &::after {
    @media bp-mama-bear {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      margin: 0 0;
      padding: 0 0;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(6, 6, 6, .65);
    }
  }
}
.bannerImage {
  width: 100%;
  text-align: center;
  z-index: -100;
  @media bp-mama-bear {
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
.bannerContent {
  lost-center: 88% 6%;
  padding-bottom: babyMargin;
  @media bp-mama-bear {
    padding-bottom: 0;
  }
}

.bannerHeader {
  width: 100%;
  margin: 0 auto 1.25rem auto;
  color: black;
  text-align: left;
  @media bp-mama-bear {
    text-align: center;
    padding: 0;
    color: white;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.bannerText {
  width: 100%;
  text-align: left;
  color: black;
  @media bp-mama-bear {
    text-align: center;
    color: white;
  }
  p {
    margin-bottom: 0;
    text-align: inherit;
    color: inherit;
  }
}
