@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding, babyMargin, bodyCopy from 'all';

.fullscreenBanner {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
  background: white;
  text-align: center;
  @media bp-mama-bear {
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: none;
  }
  &:hover {
    @media bp-mama-bear {
      p {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
.fullHeight {
  composes: fullscreenBanner;
}
.halfHeight {
  composes: fullscreenBanner;
  @media bp-mama-bear {
    height: 50vh;
  }
}
.quarterHeight {
  composes: fullscreenBanner;
  @media bp-mama-bear {
    height: 25vh;
  }
}
.thirdHeight {
  composes: fullscreenBanner;
  @media bp-mama-bear {
    height: 33.33vh;
  }
}
.twoThirdsHeight {
  composes: fullscreenBanner;
  @media bp-mama-bear {
    height: 66.66vh;
  }
}

.bannerImageWrap {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto 1.56rem;
  float: left;
  position: relative;
  text-align: center;
  @media bp-mama-bear {
    z-index: -100;
  }
  @media bp-mama-bear {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  &::after {
    @media bp-mama-bear {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      margin: 0 0;
      padding: 0 0;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(6, 6, 6, .65);
    }
  }
}
.bannerImage {
  width: 100%;
  text-align: center;
  z-index: -100;
  @media bp-mama-bear {
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.bannerHeader {
  width: 100%;
  margin: 0 auto 1.25rem auto;
  color: bodyCopy;
  text-align: left;
  @media bp-mama-bear {
    width: 100%;
    margin: 0 auto;
    text-align: inherit;
    padding: 0;
    text-align: inherit;
    color: white;
  }
  .h1 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.125rem;
    text-align: inherit;
    color: inherit;
  }
}
.bannerText {
  width: 100%;
  clear: both;
  text-align: left;
  color: inherit;
  @media bp-mama-bear {
    display: flex;
    text-align: center;
    color: white;
  }
  p {
    margin-bottom: 0;
    text-align: inherit;
    color: bodyCopy;
    @media bp-mama-bear {
      color: rgba(255, 255, 255, .7);
      transition: color 100ms ease-in-out;
    }
  }
}

/* Banner Content + Composed Positioning */
.bannerContent {
  lost-center: containerWidth;
  margin: 0 auto babyMargin auto;
  padding: containerPadding;
  float: none;
  @media bp-mama-bear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
}
.defaultPosition {
  composes: bannerContent;
  @media bp-mama-bear {
    text-align: center;
  }
}
.bottomLeft {
  composes: bannerContent;
  @media bp-mama-bear {
    display: block;
    padding: 0 0 5.625rem 5.625rem;
    position: absolute;
    bottom: 0;
    left: 0;
    .bannerHeader {
      text-align: left;
    }
    .bannerContent {
      text-align: left;
    }
  }
}
