@value bp-mama-bear, bp-papa-bear, MonBold, bodyCopy, darkGray, gradientCardThrive from 'all';

.card {
  lost-column: 1;
  margin-bottom: 1.25rem;
  background: gradientCardThrive;
  text-align: left;
  @media bp-mama-bear {
    lost-column: 1/2;
    margin-bottom: 1.5rem;
  }
  @media bp-papa-bear {
    lost-column: 1/3;
    margin-bottom: 2rem;
  }
}

.cardContainer {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
}

.imageWrap {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
}
.image {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  float: left;
}

.description {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1.875rem 1.25rem!important;
  float: left;
}

.header {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: 0 0;
  float: left;
  font-family: MonBold;
  font-size: 1.5rem;
  text-align: left;
  text-transform: capitalize;
  color: bodyCopy;
}

.synopsis {
  display: block;
  width: 100%;
  margin: 0 0 0 0;
  margin-bottom: 0;
  padding: 0 0 0 0!important;
  float: left;
  font-family: MonBold;
  text-align: left;
  color: darkGray;
}
