@value primary, secondary, medium, large from "styles/colors";

@value breakpoints: "styles/breakpoints";
@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear from breakpoints;

.container {
  height: 590px;
  width: 100%;
  lost-utility: clearfix;
}

.container h1 {
  @media bp-baby-bear {
    lost-column: 1;
    color: green;
  }

  @media bp-mama-bear {
    lost-column: 1/2;
    color: red;
  }

  @media bp-papa-bear {
    lost-column: 1/4;
    color: blue;
  }
}

p {
  color: secondary;
}
