@value primary, secondary, medium, large from "styles/colors";

@value breakpoints: "styles/breakpoints";
@value viewport-papa-bear, viewport-mama-bear, viewport-gran-bear from breakpoints;

.container {
  height: 590px;
  width: 100%;
  lost-utility: clearfix;
}

.container h1 {
  lost-column: 1;
  color: green;

  @media viewport-mama-bear {
    lost-column: 1/2;
    color: red;
  }

  @media viewport-papa-bear {
    lost-column: 1/4;
    color: blue;
  }
}

p {
  color: secondary;
}
