@value bp-mama-bear, bp-papa-bear, bp-grand-bear from all;
@value PlanMadeDarkGray, PlanMadeTeal from all;

.container {
  text-align: center;
  background: white;
  padding: 100px 10px;
  @media bp-mama-bear {
    padding: 80px 10%;
  }
  @media bp-papa-bear {
    padding: 80px 15%;
  }
}

.header {
  font-family: montserrat;
  color: PlanMadeTeal;
}

.subheader {
  font-family: montserratLight;
  color: PlanMadeDarkGray;
}

.body {
  margin-bottom: 0;
  font-family: PT serif;
  color: PlanMadeDarkGray;
}
