@value all: 'all';
@value bp-mama-bear, bp-papa-bear, bp-grand-bear, babyPadding, mamaPadding, papaPadding, containerWidth, containerPadding from all;
@value bodyCopy, Thriveteal, ThriveBlue, lightGray, darkGray, gradientCardThrive from all;
@value Mon, MonLight, MonBold, MonBlack, Playfair, PlayBlack from all;

/* Profile Styles */
.profile {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: babyPadding;
  float: left;
  position: relative;
  background: white;
  @media bp-mama-bear {
    padding: mamaPadding;
  }
  @media bp-papa-bear {
    padding: papaPadding;
  }
}

/* Greeting Styles */
.greeting {
  lost-column: 1;
  margin-bottom: 5.5rem;
  float: left;
  clear: both;
  text-align: center;
}
.h1 {
  display: block;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 0 2rem 0;
  float: left;
  text-align: inherit;
  color: bodyCopy;
  &::after {
    content: '';
    display: block;
    width: 4rem;
    height: 1px;
    margin: 2rem auto 0 auto;
    padding: 0 0;
    float: none;
    clear: both;
    background: bodyCopy;
  }
}
.h4 {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: inherit;
  font-family: Playfair;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 100%;
  letter-spacing: .02rem;
  text-align: inherit;
  color: bodyCopy;
}

/* My Account Styles, .container is the column */
.myAccount {
  lost-center: containerWidth;
  margin: 0 auto;
  padding: containerPadding;
  float: none;
}
.container {
  lost-column: 1;
  padding: 0 0;
  float: left;
  position: relative;
  @media bp-mama-bear {
    width: 76%;
    margin: 0 12%;
  }
  @media bp-papa-bear {
    width: 40%;
    margin: 0 30%;
  }
}

.accountHeader {
  display: block;
  width: 100%;
  margin: 0 auto 3rem auto;
  padding: 0 0;
  float: left;
  clear: both;
  h3 {
    margin-bottom: 0;
    font-family: MonLight;
    line-height: 100%;
  }
}

/* All Form Styles */
.myProfile,
.accountAbout,
.accountPreferences,
.save,
.changePassword,
.password, {
  appearance: none;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  border: 0px;
}

/* Input Styles */
.inputWrap {
  display: block;
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0 0;
  float: left;
  position: relative;
  border: none;
}
.label {
  display: block;
  width: 100%;
  margin: 0 auto .75rem;
  padding: 0 0;
  float: left;
  font-family: Mon;
  font-size: 1rem;
  line-height: 100%;
  text-align: left;
}

.input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 1.25rem;
  float: left;
  font-family: Mon;
  color: bodyCopy;
  text-align: left;
  background: white;
  border: 2px solid lightGray;
  border-radius: .125rem;
  transition: all 150ms ease-in-out;
  &:target, &:focus, &:active {
    border-color: ThriveTeal;
  }
}
