@value PlanMadeDarkGray, PlanMadeRed, PlanMadeTeal from 'all';

.button {
  text-align: center;
  font-family: montserrat;
  border-radius: 4px;
  background: white;
  color: PlanMadeDarkGray;
  border: 1px solid PlanMadeDarkGray;
  padding: 10px;
  &:hover {
    border-color: PlanMadeRed;
    color: PlanMadeRed;
  }
}

.header {
  font-family: montserrat;
  color: PlanMadeTeal;
  margin-bottom: 40px;
}

.subheader {
  font-family: montserratLight;
  color: PlanMadeDarkGray;
  margin-bottom: 40px;
}
