@value bp-mama-bear, bp-papa-bear, bp-grand-bear from all;
@value CodeRiverDarkGray, CodeRiverTeal, CodeRiverBlue from all;

.container {
  background: white;
  padding: 100px 10px;
  @media bp-mama-bear {
    padding: 80px 10%;
  }
  @media bp-papa-bear {
    padding: 80px 15%;
  }
}

.button {
  text-align: center;
  font-family: montserrat;
  border-radius: 4px;
  background: white;
  color: CodeRiverDarkGray;
  border: 1px solid CodeRiverDarkGray;
  padding: 10px;
  &:hover {
    border-color: CodeRiverBlue;
    color: CodeRiverBlue;
  }
}

.header {
  font-family: montserrat;
  color: CodeRiverTeal;
  margin-bottom: 40px;
}

.subheader {
  font-family: montserratLight;
  color: CodeRiverDarkGray;
  margin-bottom: 40px;
}
