@value CodeRiverDarkGray, CodeRiverBlue, CodeRiverTeal from 'all';

.button {
  text-align: center;
  font-family: montserrat;
  border-radius: 4px;
  background: white;
  color: CodeRiverDarkGray;
  border: 1px solid CodeRiverDarkGray;
  padding: 10px;
  &:hover {
    border-color: CodeRiverBlue;
    color: CodeRiverBlue;
  }
}

.header {
  font-family: montserrat;
  color: CodeRiverTeal;
  margin-bottom: 40px;
}

.subheader {
  font-family: montserratLight;
  color: CodeRiverDarkGray;
  margin-bottom: 40px;
}
