@value breakpoints: "styles/breakpoints";
@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear from breakpoints;

.postFilter {
  @media bp-baby-bear {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 0;
    float: left;
    position: relative;
    background: gray;
    text-align: center;
  }
}

.filterContainer {
  lost-column: 1;
  > header {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 1em auto;
    padding: 0 0;
    float: left;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
}

.filter {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  position: relative;
  overflow: hidden;
  text-align: center;
  &.filterOpen {
    height: auto;
  }
}

input[type="submit"] {
  @media bp-baby-bear {
    lost-utility: clearfix;
    lost-column: 1;
    margin: .5em auto 0 auto;
  }
  @media bp-mama-bear {
    width: auto;
    float: none;
  }
}
