/* Montserrat Tyoe Family:
*/
/* Montserrat Thin */
@font-face {
  font-family: 'MontserratThin';
  src: url('./montserrat-thin.eot');
  src: url('./montserrat-thin.eot?#iefix') format('embedded-opentype'),
       url('./montserrat-thin.woff2') format('woff2'),
       url('./montserrat-thin.woff') format('woff'),
       url('./montserrat-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Montserrat Light */
@font-face {
  font-family: 'MontserratLight';
  src: url('./montserrat-light.eot');
  src: url('./montserrat-light.eot?#iefix') format('embedded-opentype'),
       url('./montserrat-light.woff2') format('woff2'),
       url('./montserrat-light.woff') format('woff'),
       url('./montserrat-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat-regular.eot');
  src: url('./montserrat-regular.eot?#iefix') format('embedded-opentype'),
       url('./montserrat-regular.woff2') format('woff2'),
       url('./montserrat-regular.woff') format('woff'),
       url('./montserrat-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Montserrat Bold */
@font-face {
  font-family: 'MontserratBold';
  src: url('./montserrat-bold.eot');
  src: url('./montserrat-bold.eot?#iefix') format('embedded-opentype'),
       url('./montserrat-bold.woff2') format('woff2'),
       url('./montserrat-bold.woff') format('woff'),
       url('./montserrat-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}

/* Montserrat Black */
@font-face {
  font-family: 'MontserratBlack';
  src: url('./montserrat-black.eot');
  src: url('./montserrat-black.eot?#iefix') format('embedded-opentype'),
       url('./montserrat-black.woff2') format('woff2'),
       url('./montserrat-black.woff') format('woff'),
       url('./montserrat-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Playfair Type Family:
*/
/* Playfair Regular, italic, Bold */
@font-face {
  font-family: 'Playfair';
  src: url('./playfairdisplay-regular.eot');
  src: url('./playfairdisplay-regular.eot?#iefix') format('embedded-opentype'),
       url('./playfairdisplay-regular.woff2') format('woff2'),
       url('./playfairdisplay-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair';
  src: url('./playfairdisplay-italic.eot');
  src: url('./playfairdisplay-italic.eot?#iefix') format('embedded-opentype'),
       url('./playfairdisplay-italic.woff2') format('woff2'),
       url('./playfairdisplay-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair';
  src: url('./playfairdisplay-bold.eot');
  src: url('./playfairdisplay-bold.eot?#iefix') format('embedded-opentype'),
       url('./playfairdisplay-bold.woff2') format('woff2'),
       url('./playfairdisplay-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Playfair Black */
@font-face {
  font-family: 'PlayfairBlack';
  src: url('./playfairdisplay-black.eot');
  src: url('./playfairdisplay-black.eot?#iefix') format('embedded-opentype'),
       url('./playfairdisplay-black.woff2') format('woff2'),
       url('./playfairdisplay-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Playfair Black Italic */
@font-face {
  font-family: 'PlayfairBlackItalic';
  src: url('./playfairdisplay-blackitalic.eot');
  src: url('./playfairdisplay-blackitalic.eot?#iefix') format('embedded-opentype'),
       url('./playfairdisplay-blackitalic.woff2') format('woff2'),
       url('./playfairdisplay-blackitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
