@value breakpoints: 'all';
@value bp-mama-bear, bp-grand-bear from breakpoints;

.browseContainer {

  @media bp-mama-bear {
    lost-column: 1/2;
  }
  @media bp-grand-bear {
    lost-column: 1/2;
  }
  min-height:60vh;
  margin:2vh;
  lost-column: 1 flex;
  padding: 0 0 1rem 1rem;
  border-radius:6px;
  border: 2px solid;
  border-radius: 1px;
  font-family: Mon;
  font-size: 14px;
  line-height: 20px;
  min-width: 120px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 200ms cubic-bezier(.33,.89,.34,.98);

}



.text {
  lost-column: 1 flex;
  z-index: 1;
  padding: 0 0 1rem 1rem;
  align-self: flex-end;
  padding-top: 20vh;
  text-align: center;
}
.image {
  lost-flex-container: row;
  width: 22rem;
  height: 100%;
  background:
    linear-gradient(45deg, rgba(0,192,201,0.6), rgba(81,45,168,0.8)),
    url('./assets/team-placeholder.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.imgContainer{
  border-radius:70;
  width: 22rem;
  height: 100%;
}