@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding, babyMargin from 'all';

.buttonWrap {
  width: 100%;
  margin: 0 auto;
  padding: containerPadding;
  float: left;
  clear: both;
  text-align: center;
  > a {
    display: inline-block;
    text-align: center;
  }
}

.learnPage {
  width: 100%;
  margin: 0 auto;
  float: left;
}
.content {
  width: 100%;
  margin: 0 auto;
  float: left;
}
