@value breakpoints: "styles/breakpoints";
@value bp-mama-bear, bp-papa-bear from breakpoints;

.container {
  lost-center: 1160px flex;
  padding: 2rem 1rem;
}

.title {
  lost-column: 1;
  text-align: center;
}

.row {
  lost-center: 1160px;
}
