@value bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding, babyPadding, mamaPadding, papaPadding, babyHeader, mamaHeader, papaHeader from 'all';

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: babyPadding;
  float: left;
  @media bp-mama-bear {
    padding: mamaPadding;
  }
  @media bp-papa-bear {
    padding: papaPadding;
  }
}

.content {
  lost-utility: clearfix;
  lost-center: containerWidth;
  margin: 0 auto;
  padding: containerPadding;
  float: none;
  text-align: center;
}

.title {
  lost-column: 1;
  margin-bottom: babyHeader;
  float: left;
  text-align: center;
  @media bp-mama-bear {
    margin-bottom: mamaHeader;
  }
  @media bp-papa-bear {
    margin-bottom: papaHeader;
  }
  > h2 {
    text-align: left;
  }
}

.row {
  lost-column: 1;
  float: left;
  a {
    display: inline-block;
    float: none;
    text-align: center;
  }
}
