/*
  This is the stylesheet for: VerticalTimeline
*/
@value bp-mama-bear, bp-papa-bear, containerWidth, containerPadding, babyPadding, mamaPadding, papaPadding, babyHeader, mamaHeader, papaHeader, bodyCopy, ThriveBlue, TheFader, gradientTeal, lightGray from 'all';

.verticalTimeline {
  display: flex;
  background: gradientTeal;
  position: relative;
  color: white;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: babyPadding;
  float: left;
  @media bp-mama-bear {
    padding: mamaPadding;
  }
  @media bp-papa-bear {
    padding: papaPadding;
  }
}

.verticalLine {
  display: block;
  position: absolute;
  left: 0.5rem;
  width: 0;
  height: 91%;
  border-left: .125rem solid lightGray;
  @media bp-papa-bear {
    height: 100%;
    left: 50%;
    &::before {
      content: '';
      display: block;
      width: .5rem;
      height: .5rem;
      background: lightGray;
      border-radius: .25rem;
      position: absolute;
      top: 0;
      left: -.3125rem;
    }
    &::after {
      content: '';
      display: block;
      width: .5rem;
      height: .5rem;
      background: lightGray;
      border-radius: .25rem;
      position: absolute;
      bottom: 0;
      left: -.3125rem;
    }
  }
}

.container {
  lost-center: containerWidth flex;
  margin: 0 auto;
  padding: containerPadding;
  float: none;
}

/* Timeline Item + Composed Left/Right Styles At Bottom */
.timelineItem {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: babyPadding;
  position: relative;
  @media bp-mama-bear {
    padding: mamaPadding;
  }
  @media bp-papa-bear {
    padding: papaPadding;
  }
}

/* Header Base Styles */
.header {
  margin: 0 auto babyHeader auto;
  padding: 0 0;
  float: left;
  text-align: inherit;
  @media bp-mama-bear {
    margin: 0 auto mamaHeader auto;
  }
  @media bp-papa-bear {
    width: 50%;
  }
  h2 {
    display: inline-block;
    padding: 0 0;
    text-align: inherit;
  }
}

/* Section Content Base Styles */
.sectionContent {
  display: inline-block;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
  text-align: inherit;
  p {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding: 0 0;
    position: relative;
    text-align: inherit;
    &::before {
      content: '';
      display: block;
      width: .5rem;
      height: .5rem;
      background: white;
      border-radius: .25rem;
      position: absolute;
      top: -2.625rem;
      left: -1.54rem;
    }
  }
  @media bp-papa-bear {
    width: 50%;
  }
}

/* Composed Item Position Styles */
.itemLeft {
  composes: timelineItem;
  text-align: left;
  .header {
    @media bp-papa-bear {
      float: right;
      text-align: right;
    }
    h2 {
      @media bp-papa-bear {
        float: left;
        padding-left: 1.5rem;
      }
    }
  }
  .sectionContent {
    float: left;
    text-align: left;
    @media bp-papa-bear {
      padding-left: 1.5rem;
      float: right;
    }
    p {
      &::before {
        @media bp-mama-bear {
          top: -3.625rem;
          left: -1.5625rem;
        }
        @media bp-papa-bear {
          top: .5rem;
          left: -1.6875rem;
        }
      }
    }
  }
}

.itemRight {
  composes: timelineItem;
  text-align: left;
  @media bp-papa-bear {
    text-align: right
  }
  .header {
    @media bp-papa-bear {
      float: left;
      text-align: left;
    }
    h2 {
      @media bp-papa-bear {
        float: right;
        padding-right: 1.5rem;
      }
    }
    .sectionContent {
      @media bp-papa-bear {
        padding-right: 1.5rem;
        text-align: right;
      }
      p {
        &::before {
          @media bp-papa-bear {
            right: -1.825rem;
            left: auto;
          }
        }
      }
    }
  }
}
