@value bp-mama-bear, bp-papa-bear, bp-grand-bear from all;
@value CodeRiverDarkGray, CodeRiverLightGray, CodeRiverTeal, CodeRiverBlue from all;

.container {
  margin-bottom: 3em;
  padding-top: 2em;
}

.header {
  text-align: center;
  font-family: montserrat;
  line-height: 1.2em;
  color: CodeRiverTeal;
  margin-bottom: 40px;
}

.subheader {
  font-family: montserratLight;
  color: CodeRiverDarkGray;
  margin-bottom: 40px;
}

.graphicsContainer {
  lost-center: containerWidth;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.computerSection {
  lost-column: 1;
  margin-bottom: 20px;
  @media bp-papa-bear {
    lost-column: 2/3;
  }
}
.mobileSection {
  lost-column: 1;
  @media bp-papa-bear {
    lost-column: 1/3;
  }
}

.imageContainer {
  vertical-align: bottom;
  background-color: CodeRiverLightGray;
  width:90%;
  margin-left: 5%;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 15px;
}
.imageContainerMobile {
  margin: 0 auto;
  background-color: CodeRiverDarkGray;
  width:200px;
  height: 380px;
  border-radius: 15px;
}
.computerStand {
  width: 10%;
  margin-left: 45%;
  background-color: CodeRiverDarkGray;
  height: 15px;
}
.computerFoot {
  width: 20%;
  margin-left: 40%;
  background-color: CodeRiverLightGray;
  height: 10px;
  border-radius: 7px 7px 0 0;
}

.image {
  width: 90%;
  border-radius: 5px;
}
.imageMobile {
  width: 180px;
  margin-top: 30px;
  border-radius: 2px;
}
.mobileButton {
  height: 40px;
  width: 40px;
  margin-left: 80px;
  border-radius: 50%;
  border-color: CodeRiverLightGray;
  border-width: 2px;
  border-style: solid;
}

.body {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: PT serif;
  color: CodeRiverDarkGray;
}

.bodyHeading {
  font-family: montserratLight;
  color: CodeRiverDarkGray;
}

.footNote {
  margin-top: 30px;
  font-style: italic;
  font-family: PT serif;
  color: CodeRiverDarkGray;
}

.link {
  text-align: center;
  font-family: montserrat;
  border-radius: 4px;
  background: white;
  color: CodeRiverDarkGray;
  border: 1px solid CodeRiverDarkGray;
  padding: 10px;
  &:hover {
    border-color: CodeRiverBlue;
    color: CodeRiverBlue;
  }
  padding: 10px;
  margin-right: 20px;
}

.iconContainer {
  lost-center: containerWidth;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.icon {
  color: CodeRiverDarkGray;
  display: block;
  lost-column: 1;
  margin-bottom: 35px;
  @media bp-mama-bear {
    lost-column: 1/2;
  }
  @media bp-papa-bear {
    lost-column: 1/4;
  }
  > img {
    margin-bottom: 10px;
  }
}
.icon3 {
  color: CodeRiverDarkGray;
  display: block;
  lost-column: 1;
  margin-bottom: 35px;
  @media bp-papa-bear {
    lost-column: 1/3;
  }
  > img {
    margin-bottom: 10px;
  }
}
