@value breakpoints: "styles/breakpoints";
@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding from breakpoints;
@value Mon from "styles/fonts.css";
@value ThriveViolet, ThriveBlurple from "styles/colors.css";

.button {
  border: 1px solid;
  border-radius: 1px;
  font-family: Mon;
  font-size: 14px;
  line-height: 20px;
  min-width: 120px;
  padding: 10px 20px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 200ms cubic-bezier(.33,.89,.34,.98);
}

.light {
  composes: button;
  border-color: ThriveViolet;
  color: ThriveViolet;
}

.light-medium {
  composes: light;
  padding: 10px 40px 8px;
}

.light-large {
  composes: light;
  padding: 10px 60px 8px;
}


.light:hover {
  background-color: ThriveBlurple;
  border-color: ThriveBlurple;
  color: #fff;
}

.dark {
  composes: button;
  border-color: #fff;
  color: #fff;
}

.dark-medium {
  composes: dark;
  padding: 10px 40px 8px;
}

.dark-large {
  composes: dark;
  padding: 10px 60px 8px;
}

.dark:hover {
  background-color: ThriveViolet;
  color: #fff;
  border-color: ThriveViolet;
}

.bannerButton {
  @media bp-baby-bear {
    composes: button;
    background-color: rgba(0, 0, 0, 1);
    color: #000;
  }
  @media bp-mama-bear {
    background-color: rgba(255, 255, 255, 1);
    color: #fff;
  }
}
