@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding, babyMargin from 'all';
@value Mon, PlayBlackItalic from 'all';
@value ThriveViolet, gradientCardThrive, ThriveBlue, PlanMadeTeal, ThriveBlurple from 'all';

.button {
  border: 2px solid;
  border-radius: 1px;
  font-family: Mon;
  font-size: 14px;
  line-height: 20px;
  min-width: 120px;
  padding: 10px 20px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 200ms cubic-bezier(.33,.89,.34,.98);
}

.violet {
  composes: button;
  border-color: ThriveViolet;
  color: ThriveViolet;

  &-medium {
    composes: violet;
    padding: 10px 40px 8px;
  }

  &-large {
    composes: violet;
    padding: 10px 60px 8px;
  }

  &:hover {
    background-color: ThriveBlurple;
    border-color: ThriveBlurple;
    color: #fff;
  }
}

.white {
  composes: button;
  border-color: #fff;
  color: #fff;

  &-medium {
    composes: white;
    padding: 10px 40px 8px;
  }

  &-large {
    composes: white;
    padding: 10px 60px 8px;
  }

  &:hover {
    background-color: ThriveViolet;
    color: #fff;
    border-color: ThriveViolet;
  }
}

.teal {
  composes: button;
  border-color: PlanMadeTeal;
  color: PlanMadeTeal;

  &-medium {
    composes: teal;
    padding: 10px 40px 8px;
  }

  &-large {
    composes: teal;
    padding: 10px 60px 8px;
  }

  &-blackText {
    composes: teal;
    color: black;
    padding: 10px 40px 8px;
  }

  &:hover {
    background-color: PlanMadeTeal;
    color: #fff;
    border-color: PlanMadeTeal;
  }
}

.blue {
  composes: button;
  border-color: ThriveBlue;
  color: ThriveBlue;

  &-medium {
    composes: blue;
    padding: 10px 40px 8px;
  }

  &-large {
    composes: blue;
    padding: 10px 60px 8px;
  }

  &:hover {
    background-color: ThriveBlue;
    color: #fff;
    border-color: ThriveBlue;
  }
}

.special {
  composes: button;
  color: #fff;
  font-family: PlayfairItalic;
  font-size: 1.25rem;
  text-transform: none;
  padding: 10px 0px 8px;
  border-style: none;

  &:after {
    content: ' >';
  }

  &:hover {
    color: ThriveViolet;
    border-bottom: 3px solid ThriveViolet;
  }
}

.opaque {
  composes: button;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px 20px 12px;
  border-style: none;

  &:hover {
    background-color: ThriveBlue;
    color: #fff;
    border-color: ThriveBlue;
  }
}


.bannerButton {
  @media bp-baby-bear {
    composes: button;
    background-color: rgba(0, 0, 0, 1);
    color: #000;
  }
  @media bp-mama-bear {
    background-color: rgba(255, 255, 255, 1);
    color: #fff;
  }
}
