@value breakpoints: "styles/breakpoints";
@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding from breakpoints;
@value Mon from "styles/fonts.css";
@value ThriveViolet, ThriveTeal, ThriveBlurple from "styles/colors.css";

.button {
  border: 2px solid;
  border-radius: 1px;
  font-family: Mon;
  font-size: 14px;
  line-height: 20px;
  min-width: 120px;
  padding: 10px 20px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 200ms cubic-bezier(.33,.89,.34,.98);
}

.violet {
  composes: button;
  border-color: ThriveViolet;
  color: ThriveViolet;

  &-medium {
    composes: violet;
    padding: 10px 40px 8px;
  }

  &-large {
    composes: violet;
    padding: 10px 60px 8px;
  }

  &:hover {
    background-color: ThriveBlurple;
    border-color: ThriveBlurple;
    color: #fff;
  }
}

.white {
  composes: button;
  border-color: #fff;
  color: #fff;

  &-medium {
    composes: white;
    padding: 10px 40px 8px;
  }

  &-large {
    composes: white;
    padding: 10px 60px 8px;
  }

  &:hover {
    background-color: ThriveViolet;
    color: #fff;
    border-color: ThriveViolet;
  }
}

.teal {
  composes: button;
  border-color: ThriveTeal;
  color: ThriveTeal;

  &-medium {
    composes: teal;
    padding: 10px 40px 8px;
  }

  &-large {
    composes: teal;
    padding: 10px 60px 8px;
  }

  &:hover {
    background-color: ThriveTeal;
    color: #fff;
    border-color: ThriveTeal;
  }
}

.bannerButton {
  @media bp-baby-bear {
    composes: button;
    background-color: rgba(0, 0, 0, 1);
    color: #000;
  }
  @media bp-mama-bear {
    background-color: rgba(255, 255, 255, 1);
    color: #fff;
  }
}
