/*
  This is the stylesheet for: TwoColTextImage
*/
@value bp-mama-bear, bp-papa-bear, containerWidth, containerPadding, babyPadding, mamaPadding, papaPadding, babyMargin, babyHeader, mamaHeader, papaHeader, bodyCopy, ThriveBlue, ThriveBlurple, lightGray from 'all';

/* Base Section Styling + Composed Styles */
.twoColText {
  width: 100%;
  height: auto;
  margin: babyMargin auto;
  padding: babyPadding;
  position: relative;
  text-align: left;
  @media bp-mama-bear {
    margin: 0 auto;
    padding: mamaPadding;
  }
  @media bp-papa-bear {
    padding: papaPadding;
  }
}
.default {
  composes: twoColText;
  background: white;
  color: bodyCopy;
}
.transparent {
  composes: twoColText;
  background: transparent;
  color: bodyCopy;
}
.lightGray {
  composes: twoColText;
  background: lightGray;
  color: bodyCopy;
}
.purple {
  composes: twoColText;
  background: ThriveBlurple;
  color: white;
}
.blue {
  composes: twoColText;
  background: ThriveBlue;
  color: white;
}

/* Container Styles */
.container {
  lost-center: containerWidth;
  margin: 0 auto;
  padding: containerPadding;
  float: none;
  color: inherit;
  padding-top: 6rem;
  padding-bottom: 1rem;
  @media bp-papa-bear {
    padding-bottom: 4rem;
  }
}
.marginTrue {
  composes: container;
}
.marginFalse {
  composes: container;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Title True/False */
.hasTitle {
  lost-column: 1;
  margin: 0 auto babyHeader auto;
  padding: 0 0;
  float: left;
  clear: both;
  position: relative;
  text-align: center;
  color: inherit;
  @media bp-mama-bear {
    width: 100%;
    margin: 0 auto mamaHeader auto;
  }
  @media bp-papa-bear {
    margin: 0 auto papaHeader auto;
  }
  h2 {
    text-align: inherit;
    color: inherit;
  }
}
.titleTrue {
  composes: hasTitle;
}
.titleFalse {
  display: none;
}
.titleCenter {
  text-align: center;
}
.centerTrue {
  composes: titleCenter;
}
.centerFalse {
  display: none;
}
.divider {
  border-bottom: 1px solid #999999;
  width: 3rem;
  margin: 0 auto;
  margin-top: 3.5rem;
}
img {
  margin-bottom: 1rem;
  width: 100%;
  @media bp-papa-bear {
    margin-bottom: 3rem;
  }
}

/* Column Styles */
.columnWrap {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0 0;
  float: left;
  clear: both;
}
.column {
  lost-column: 1;
  float: left;
  text-align: inherit;
  color: inherit;
  @media bp-papa-bear {
    lost-column: 1/2;
  }
  p {
    display: block;
    width: 100%;
    float: left;
    word-wrap: break-word;
    text-align: inherit;
    color: inherit;
    margin-bottom: 2rem;
  }
}
