@value breakpoints: "styles/breakpoints";
@value containerWidth, bp-mama-bear from breakpoints;
@value ThriveTeal, ThriveGray from "styles/colors";

.container {
  lost-utility: clearfix;
  lost-center: containerWidth;
  @media bp-mama-bear {
    padding: 5em 10em;
  }
}

.filterContainer {
  lost-utility: clearfix;
  lost-center: containerWidth;
  border-bottom: 1px solid ThriveGray;
}

.filterDescription {
  font-weight: bold;
}

.inputContainer {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;

  label {
    color: ThriveTeal; 
    padding-right: 0.5em;
    width: 20%;
    font-weight: bold;
    font-size: 1.6em;
  }

  input {
    size: 2em;
    border: 0;
    width: 80%;
    &:focus {
      outline: none; 
    }
  }
}


.listContainer {
  width: 100%;
  font-size: 1.5rem;
}

.paginate {
  width: 100%;
  padding-top: 2rem;
  text-align: center;

  a {
    padding: 2px 4px; 
    margin: 2px;
    color: ThriveTeal;
    border: 1px solid ThriveTeal; 

    &:hover {
      background-color: ThriveTeal;
      color: white; 
    }
  }
}

.listItem {
  lost-column: 1;
  @media bp-mama-bear {
    lost-column: 1/2;
  }
}

.listRow {
  .stepIcon {
    display: show; 
  }

  .copyIcon {
    display: none; 
  }

  p { 
    margin-bottom: 1em;
  } 

  &:hover {
    cursor: pointer; 
    color: ThriveTeal;

    .stepIcon {
      display: none; 
    }

    .copyIcon {
      display: block; 
    }
  }
}


.listRow {
  display: flex;
  align-items: left;

  img {
    padding: 1.3em 1em;
  }
}

.resultsText {
  text-align: center;
}
