@value bp-mama-bear, bp-papa-bear, bp-grand-bear from 'all';
@value lightGray, ThriveTeal, ThriveBlue, ThriveDarkBlue, ThriveRoyalBlue, ThriveBlurple, ThriveViolet, gradientBlurple from 'all';
@value Mon, Play from 'all';

/* Label + Label Colors */
.label {
  display: block;
  padding: .25rem .75rem;
  float: left;
  font-family: Mon;
  font-style: normal;
  font-size: .75rem;
  line-height: 100%;
  letter-spacing: .1rem;
  text-align: center;
  text-transform: uppercase;
}
.defaultLabel {
  composes: label;
  background: ThriveBlue;
  color: white;
}
.tealLabel {
  composes: label;
  background: ThriveTeal;
  color: white;
}
.blueLabel {
  composes: label;
  background: ThriveBlue;
  color: white;
}
.darkBlueLabel {
  composes: label;
  background: ThriveDarkBlue;
  color: white;
}
.royalBlueLabel {
  composes: label;
  background: ThriveRoyalBlue;
  color: white;
}
.blurpleLabel {
  composes: label;
  background: ThriveBlurple;
  color: white;
}
.violetLabel {
  composes: label;
  background: ThriveViolet;
  color: white;
}
.whiteLabel {
  composes: label;
  background: white;
  color: black;
}
