/*
  This is the stylesheet for: HeaderQuote
*/
@value bp-mama-bear, bp-papa-bear from 'all';
@value Playfair, MonLight from 'all';

.quote {
  clear: both;
  width: 100%;
  padding: 1em;
  margin-top: 0;
  font-family: MonLight;

  @media bp-mama-bear {
    max-width: 50rem;
    font-size: 1.25rem;
    margin: 1rem auto 1.5rem auto;
    line-height: 2rem;
  }
}

.author {
  display: block;
  clear: both;
  width: 100%;
  font-family: PlayfairItalic;

  &::before {
    content: '-';
    display: inline-block;
    margin: 0 .25rem 0 0;
    padding: 0 0.25rem;
  }

  @media bp-mama-bear {
    font-size: 1.5rem;
  }
}
