@value bp-mama-bear, containerWidth, containerPadding from 'all';

.container {
  lost-center: containerWidth flex;
  padding: 2rem 1rem;
}

.title {
  lost-column: 1;
  text-align: center;

  .details {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    @media bp-mama-bear{
      width: 60%;
    }
  }
}

.row {
  lost-center: containerWidth;
}
