@value breakpoints: 'styles/breakpoints.css';
@value bp-mama-bear, bp-papa-bear, bp-grand-bear, mediumGutter from breakpoints;
@value bodyCopy, ThriveBlue, gradientCardThrive from 'styles/colors.css';

/* Default Card Container Styles */
.postCard {
  display: block;
  height: 100%;
  margin: 0 mediumGutter;
  padding: 1.25rem 0;
  float: left;
  position: relative;
  color: bodyCopy;
  cursor: pointer;
  /* Card Label */
  > i {
   display: block;
   width: auto;
   height: auto;
   margin: 1.25rem 0 0 1.25rem;
   float: left;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
 }
}
/* Composed cardType(s) at End of File for Scoping Reasons */

/* Image Container Styles */
.imageContainer {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1000;
}
/* Image Styles */
.image {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  background: white;
  overflow: hidden;
}
/* Image True/False Composed */
.imageTrue {
  composes: imageContainer;
  @media bp-mama-bear {
    background: none;
  }
}
.imageFalse {
  composes: imageContainer;
  display: none;
  .image {
    display: none;
  }
}

/* Content Wrapper */
.cardContent {
  lost-flex-container: column;
  flex-flow: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 5.125em;
  position: relative;
}
/* Card Content Styles */
/* Header */
.header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: left;
}
/* Synopsis True/False */
.synopsisTrue {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: left;
}
.synopsisFalse {
  display: none;
}
/* Content Footer + Composed Styles */
.footer {
  lost-column: 1 flex;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  float: left;
  text-align: left;
}

/* Composed cardType */
.half {
  composes: postCard;
  lost-column: 1/2 flex mediumGutter;
  background: gradientCardThrive;
  .footer {
    width: 100%;
    padding: .625rem 1.25rem;
    background: rgba(0, 0, 0, .2);
    border-radius: .25rem;
  }
  .authorWrap {
    text-align: right;
    color: white;
  }
}
.halfImage {
  composes: postCard;
  lost-column: 1/2 flex mediumGutter;
  background: none;
}
.quarterWhite {
  composes: postCard;
  lost-column: 1/4 mediumGutter;
  background: white;
}
.quarterBlue {
  composes: postCard;
  background: ThriveBlue;
  lost-column: 1/4 mediumGutter;
}
