@value breakpoints: 'styles/breakpoints.css';
@value bp-mama-bear, bp-papa-bear, bp-grand-bear, mediumGutter from breakpoints;
@value bodyCopy, ThriveBlue, gradientCardThrive from 'styles/colors.css';

/* Default Card Container Styles */
.postCard {
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  position: relative;
  color: bodyCopy;
  cursor: pointer;
  @media bp-papa-bear {
    lost-flex-container: column;
    height: 100%;
    margin: 0 mediumGutter;
  }
}
/* Composed cardType(s) at End of File for Scoping Reasons */
/* Card Label */
.cardLink > i {
  display: block;
  width: auto;
  height: auto;
  margin:  0 0;
  float: left;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  z-index: 1000;
}

/* Link Wrapper */
.cardLink {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}

/* Content Wrapper */
.cardContent {
  display: block;
  width: 100%;
  position: relative;
  @media bp-papa-bear {
    lost-flex-container: column;
    height: 100%;
    margin: 0 0 0 0;
    padding: 1.25rem 5.125rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Image Container Styles */
.imageContainer {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1000;
}
/* Image Styles */
.image {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  overflow: hidden;
}
/* Image True/False Composed */
.imageTrue {
  composes: imageContainer;
  @media bp-mama-bear {
    background: none;
  }
}
.imageFalse {
  composes: imageContainer;
  display: none;
  .image {
    display: none;
  }
}

/* Card Content Styles */
/* Post Meta Container */
.postMeta {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
}
/* Header */
.header {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: left;
}
/* Synopsis True/False */
.synopsisTrue {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: left;
}
.synopsisFalse {
  display: none;
}
/* Content Footer + Composed Styles */
.footer {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: left;
}

/* Composed cardType */
.half {
  composes: postCard;
  lost-column: 1;
  background: gradientCardThrive;
  @media bp-papa-bear {
    lost-column: 1/2 mediumGutter;
  }
}
.halfImage {
  composes: postCard;
  lost-column: 1;
  background: white;
  @media bp-papa-bear {
    lost-column: 1/2 mediumGutter;
  }
}
.quarterWhite {
  composes: postCard;
  lost-column: 1;
  background: white;
  @media bp-papa-bear {
    lost-column: 1/4 mediumGutter;
  }
}
.quarterBlue {
  composes: postCard;
  lost-column: 1;
  background: ThriveBlue;
  @media bp-papa-bear {
    lost-column: 1/4 mediumGutter;
  }
}
