@value bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding, babyPadding, mamaPadding, papaPadding, babyMargin, mamaMargin, papaMargin, negBaby, negMama, negPapa, negGrand from "styles/breakpoints.css";
@value lightGray, ThriveTeal, ThriveBlue, ThriveDarkBlue, ThriveRoyalBlue, ThriveBlurple, ThriveViolet from "styles/colors.css";
@value Mon, Play from "styles/fonts.css";

/* Parent Most Container + BG Color Variants */
.fullWidthTwoColSpecial {
  display: block;
  lost-column: 1;
  height: auto;
  margin: 0 auto;
  float: left;
  padding: 0 0;
  position: relative;
  overflow: hidden;
}
.default {
  composes: fullWidthTwoColSpecial;
  background: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.lightGray {
  composes: fullWidthTwoColSpecial;
  background: lightGray;
}
.transparent {
  composes: fullWidthTwoColSpecial;
  background: none;
}

/* Column Container Styles */
.container {
  display: block;
  max-width: containerWidth;
  margin: babyMargin auto;
  padding: 0 containerPadding;
  float: left;
  position: relative;
  background: white;
  @media bp-mama-bear {
    margin: mamaMargin auto;
  }
  @media bp-papa-bear {
    lost-flex-container: row;
    margin: papaMargin auto;
    float: none;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
  }
}

/* Column Styling */
.column {
  lost-column: 1;
  position: relative;
  @media bp-papa-bear {
    lost-column: 1/2 flex;
  }
  &:first-child {
    padding: babyPadding;
    @media bp-mama-bear {
      padding: mamaPadding;
    }
    @media bp-papa-bear {
      padding: papaPadding;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: babyMargin;
      margin: 0 0;
      padding: 0 0;
      float: left;
      background: ThriveTeal;
      position: absolute;
      top: negBaby;
      left: 0;
      @media bp-mama-bear {
        height: mamaMargin;
        top: negMama;
      }
      @media bp-papa-bear {
        height: papaMargin;
        top: negPapa;
      }
    }
  }
  &:last-child {
    margin-right: 0;
    float: right;
  }
}

.imageWrap {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: center;
  overflow: hidden;
  @media bp-papa-bear {
    display: flex;
    height: 100%;
    float: none;
  }
}
.image {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  @media bp-papa-bear {
    object-fit: cover;
    object-position: center center;
  }
}
.sectionContent {
  lost-column: 1;
  @media bp-papa-bear {
    padding: 0 10%;
  }
}

/* Label + Label Colors */
.label {
  display: block;
  margin: .75rem 0 0 0;
  padding: .25rem .75rem;
  float: left;
  background: ThriveBlue;
  font-family: Mon;
  font-style: normal;
  font-size: .75rem;
  line-height: 100%;
  letter-spacing: .1rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.defaultLabel {
  composes: label;
}
.tealLabel {
  composes: label;
  background: ThriveTeal;
}
.blueLabel {
  composes: label;
  background: ThriveBlue;
}
.darkBlueLabel {
  composes: label;
  background: ThriveDarkBlue;
}
.royalBlueLabel {
  composes: label;
  background: ThriveRoyalBlue;
}
.blurpleLabel {
  composes: label;
  background: ThriveBlurple;
}
.violetLabel {
  composes: label;
  background: ThriveViolet;
}


.header {
  lost-column: 1;
  margin-bottom: 2rem;
  text-align: left;
}
