@value bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding, babyPadding, mamaPadding, papaPadding, babyMargin, mamaMargin, papaMargin, negBaby, negMama, negPapa, negGrand, babyHeader, mamaHeader, papaHeader from 'all';
@value lightGray, ThriveTeal, ThriveBlue, TheFader, ThriveDarkBlue, ThriveRoyalBlue, ThriveBlurple, ThriveViolet, gradientBlurple from 'all';
@value Mon, Play from 'all';

/* Parent Most Container + BG Color Variants */
.fullWidthTwoColSpecial {
  display: block;
  lost-column: 1;
  height: auto;
  margin: 0 auto;
  float: left;
  padding: 0 0;
  position: relative;
  overflow: hidden;
}
.default {
  composes: fullWidthTwoColSpecial;
  background: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.lightGray {
  composes: fullWidthTwoColSpecial;
  background: lightGray;
}
.transparent {
  composes: fullWidthTwoColSpecial;
  background: none;
}

.fade {
  composes: fullWidthTwoColSpecial;
  background: TheFader;
  * {
    color: bodyCopy;
  }
}

/* Column Container Styles */
.container {
  display: block;
  max-width: containerWidth;
  margin: babyMargin auto;
  padding: 0 0;
  float: left;
  position: relative;
  background: white;
  @media bp-mama-bear {
    margin: mamaMargin auto;
  }
  @media bp-papa-bear {
    lost-flex-container: row;
    margin: papaMargin auto;
    float: none;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
  }
}

/* Column Styling */
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0;
  padding: 0 1.875rem;
  float: left;
  position: relative;
  @media bp-papa-bear {
    width: 50%;
    flex-direction: row;
    padding: 0 0;
  }
  &:first-child {
    order: 2;
    @media bp-papa-bear {
      order: 1;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: babyMargin;
      margin: 0 0;
      padding: 0 0;
      float: left;
      background: gradientBlurple;
      position: absolute;
      top: negBaby;
      left: 0;
      @media bp-mama-bear {
        height: mamaMargin;
        top: negMama;
      }
      @media bp-papa-bear {
        height: papaMargin;
        top: negPapa;
      }
    }
  }
  &:last-child {
    order: 1;
    margin-right: 0;
    padding: 1.875rem 1.875rem;
    @media bp-papa-bear {
      order: 2;
      padding: 0 0;
    }
  }
}

.colorBarTrue {
  composes: column;

  &:first-child {
    &:before {
      display: block;
    }
  }
}

.colorBarFalse {
  composes: column;

  &:first-child {
    &:before {
      display: none;
    }
  }
}

.colorBarFalse {
  composes: column;
}

.imageWrap {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  text-align: center;
  overflow: hidden;
  @media bp-papa-bear {
    height: 100%;
    float: none;
  }
}
.image {
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  @media bp-papa-bear {
    object-fit: cover;
    object-position: center center;
  }
}
.sectionContent {
  padding: babyPadding;
  @media bp-mama-bear {
    padding: mamaPadding;
  }
  @media bp-papa-bear {
    padding: papaMargin 15%;
  }
  > i {
    display: inline-block;
    margin: 2rem 0;
    float: left;
    clear: both;
  }
  p {
    display: block;
    width: 100%;
    float: left;
    clear: both;
  }
  > a {
    float: left;
    clear: both;
  }
}
.header {
  width: 100%;
  margin: 0 auto babyHeader auto;
  padding: 0 0;
  float: left;
  text-align: left;
  @media bp-mama-bear {
    margin: 0 auto mamaBear auto;
  }
  @media bp-papa-bear {
    margin: 0 auto papaBear auto;
  }
}

/* Label True/False */
.hasLabel {
  width: 100%;
  margin: 2rem 0;
  float: left;
}
.labelTrue {
  composes: hasLabel;
  display: block;
}
.labelFalse {
  composes: hasLabel;
  display: none;
}

/* Button True/False */
.hasButton {
  width: 100%;
  float: left;
}
.buttonTrue {
  composes: hasButton;
  display: block;
  margin-top: babyHeader;
}
.buttonFalse {
  composes: hasButton;
  display: none;
}
