@value all: 'all';
@value bp-mama-bear, bp-papa-bear, bp-grand-bear, babyPadding, mamaPadding, papaPadding, containerWidth, containerPadding from all;
@value bodyCopy, ThriveTeal, ThriveBlue, lightGray, darkGray, gradientCardThrive from all;
@value Mon, MonLight, MonBold, MonBlack, Playfair, PlayBlack from all;

.fbButton {
  appearance: none;
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1.25rem 1.25rem;
  background: #3B5998;
  border: 0px;
  font-family: Mon;
  text-align: center;
  color: white;
  outline: none;
  opacity: 1!important;
}
.fa-facebook {
  appearance: none;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 1rem 0 0;
  padding: 0 0;
  float: none;
  background: #3B5998;
  border: 0px;
  text-align: center;
  color: white;
  outline: none;
}
