@value breakpoints: "styles/breakpoints";
@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear from breakpoints;

.postCard {
  lost-column: 1;
  margin: 0 0 .75rem 0;
  padding: 0 0;
  border: 1px solid black;
  overflow: hidden;
  transition: 200ms all ease;
  @media bp-mama-bear {
    lost-column: 1/2 2;
  }
  @media bp-papa-bear {
    lost-column: 1/4 4;
  }
}

.postImage {
  display: block;
  width: 100%;
  margin: 0 auto 1em;
  padding: 0 0;
  float: left;
}

.cardMeta {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: .5em .5em;
  float: left;
  overflow: hidden;
}

.header {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  position: relative;
  text-align: center;
}

.caption {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  float: left;
}
