/*
  This is the stylesheet for: BrandRow
*/
@value containerWidth, containerPadding, bp-mama-bear, bp-papa-bear, ThriveTeal, ThriveBlurple, backgroundGray, ThriveGray, Mon, MonLight from 'all';

.container {
  background-color: white;
}

.content {
  lost-center: containerWidth;
}

.brands {
  background-color: white;
  margin-bottom: 0;
  lost-column: 1;
  @media bp-mama-bear {
    lost-column: 1/2;
    margin-bottom: 0.5rem
  }
  @media bp-papa-bear {
    lost-column: 1/5;
  }
}

.image {
  max-width: 100%;
}

img {
  width: auto;
  margin: 0 auto;
  text-align: center;
  float: none;
}

.container {
  padding: 0 3rem;
}
