/*
  This is the stylesheet for: BrandRow
*/
@value containerWidth, containerPadding, bp-mama-bear, bp-papa-bear, ThriveTeal, ThriveBlurple, backgroundGray, ThriveGray, Mon, MonLight from 'all';

.container {
  background-color: white;
}

.content {
  lost-center: containerWidth;
}

.brands {
  background-color: white;
  lost-column: 1;
  float: none;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
}

.default {
  composes: brands;
  &:first-child {
    margin-left: 1rem;
    @media bp-mama-bear {
      margin-left: inherit;
    }
    @media bp-papa-bear {
      margin-left: 0;
    }
  }
  &:last-child {
    float: none;
    margin: 0 auto;
    text-align: center;
    @media bp-mama-bear {
      float: left;
    }
    @media bp-papa-bear {
      float: left;
    }
  }
  @media bp-mama-bear {
    lost-column: 1/2;
    float: left;
  }
  @media bp-papa-bear {
    lost-column: 1/5;
    float: left;
  }
}


.quad {
  composes: brands;
  &:first-child {
    margin-left: 1rem;
    @media bp-mama-bear {
      margin-left: inherit;
    }
    @media bp-papa-bear {
      margin-left: 0;
    }
  }
  &:last-child {
    float: none;
    margin: 0 auto;
    text-align: center;
    @media bp-mama-bear {
      float: left;
    }
    @media bp-papa-bear {
      float: left;
    }
  }
  @media bp-mama-bear {
    lost-column: 1/2;
    float: left;
  }
  @media bp-papa-bear {
    lost-column: 1/4;
    float: left;
  }
}

.trip {
  composes: brands;
  &:first-child {
    margin-left: 1rem;
    @media bp-mama-bear {
      margin-left: inherit;
    }
    @media bp-papa-bear {
      margin-left: 0;
    }
  }
  &:last-child {
    float: none;
    margin: 0 auto;
    text-align: center;
    @media bp-mama-bear {
      float: left;
    }
    @media bp-papa-bear {
      float: left;
    }
  }
  @media bp-mama-bear {
    lost-column: 1/2;
    float: left;
  }
  @media bp-papa-bear {
    lost-column: 1/3;
    float: left;
  }
}

.image {
  max-width: 100%;
  width: 50%;
  @media bp-papa-bear {
    width: auto;
  }
}

img {
  width: auto;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
  float: none;
}

.container {
  padding: 0 3rem;
}
