@value breakpoints: "styles/breakpoints";
@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear from breakpoints;

.categories {
  lost-utility: clearfix;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  border: none;
  text-align: center;
}

.inputWrap {
  @media bp-baby-bear {
    lost-waffle: 1;
    text-align: center;
  }
  @media bp-mama-bear {
    lost-waffle: 1/6;
  }
  label {
    display: inline-block;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    position: relative;
    font: normal 1em/100% sans-serif;
    text-align: center;
  }
}

.checkbox {
  appearance: none;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 .5rem -.125rem 0;
  padding: 0 0;
  background: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: .5rem;
  outline: none;
  transition: all 200ms cubic-bezier(.33,.89,.34,.98);
  &:checked {
    background: rgba(0, 0, 0, 1);
  }
}
