@value breakpoints: "styles/breakpoints";
@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding from breakpoints;

.posts {
  lost-center: containerWidth containerPadding;
  margin: 0 auto;
  float: none;
}
