@value bp-baby-bear, bp-mama-bear, bp-papa-bear, bp-grand-bear, containerWidth, containerPadding, babyMargin, mamaMargin, papaMargin, papaPadding, mediumGutterHalf from 'all';

.posts {
  lost-masonry-wrap: no-flex 0px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  float: left;
  @media bp-papa-bear {
    margin: 0 auto;
  }
}

.featuredMediumPosts {
  lost-center: containerWidth containerPadding;
  margin: 0 auto;
  float: none;
  @media bp-papa-bear {
    margin: 0 auto;
  }
  @media bp-papa-bear {
    margin: 1.5rem auto;
  }
}

.clear {
  display: block;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  float: left;
  clear: both;
}
